<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Het spijt ons, maar uw browser wordt niet ondersteund.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
          Het spijt ons, maar uw browser wordt niet ondersteund.<br>
          <small>Probeer een moderne browser zoals Chrome, Firefox of onze Android app!</small>
        </span>
        <hr>
        <a target="_blank" class="supported-browsers" href="http://www.google.com/chrome/"><img src="/static/img/logos/logo-browser-chrome.png" /></a>
        <a target="_blank" class="supported-browsers" href="http://firefox.com/"><img src="/static/img/logos/logo-browser-firefox.png" /></a>
        <a target="_blank" class="supported-browsers" href="http://www.apple.com/safari/"><img src="/static/img/logos/logo-browser-safari.png" /></a>
        <a target="_blank" class="supported-browsers" href="https://play.google.com/store/apps/details?id=it.greenaddress.cordova"><img src="/static/img/logos/logo-google-play.png" class="android-app" /></a>
        <a target="_blank" class="supported-browsers" href="https://chrome.google.com/webstore/detail/greenaddressit/dgbimgjoijjemhdamicmljbncacfndmp" ><img src="/static/img/logos/logo-chrome-web-store.png" class="chrome-app" /></a>
      </div>
    </div>
  </div>
</div>