<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Het spijt ons, maar uw browser wordt niet ondersteund.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
          Het spijt ons, maar uw browser wordt niet ondersteund.<br>
          <small>Please try a modern browser like Chrome, Firefox, Safari or our Android, iOS or F-Droid app!</small>
        </span>
        <hr>
        <a target="_blank" class="supported-browsers" href="http://www.google.com/chrome/"><img src="/static/img/logos/logo-browser-chrome.png" class="browser" /></a>
        <a target="_blank" class="supported-browsers" href="http://firefox.com/"><img src="/static/img/logos/logo-browser-firefox.png" class="browser" /></a>
        <a target="_blank" class="supported-browsers" href="http://www.apple.com/safari/"><img src="/static/img/logos/logo-browser-safari.png" class="browser" /></a>
        <hr>
        <a target="_blank" class="supported-browsers" href="https://play.google.com/store/apps/details?id=it.greenaddress.cordova"><img src="/static/img/logos/logo-google-play.png" class="android-app" /></a>
        <a target="_blank" class="supported-browsers" href="https://chrome.google.com/webstore/detail/greenaddressit/dgbimgjoijjemhdamicmljbncacfndmp"><img src="/static/img/logos/logo-chrome-web-store.png" class="chrome-app" /></a>
        <a target="_blank" class="supported-browsers" href="https://itunes.apple.com/us/app/greenaddress/id889740745?mt=8#"><img src="/static/img/logos/logo-appstore-nl.svg" class="ios-app" /></a>
        <a target="_blank" class="supported-browsers" href="https://f-droid.org/repository/browse/?fdid=it.greenaddress.cordova"><img src="../static/img/logos/logo-fdroid.svg" class="fdroid-app" /></a>
      </div>
    </div>
  </div>
</div>