<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        U bent uitgelogd.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
                  U bent elders ingelogd.<br><small>Als u dit niet bent, neemt u dan <strong>onmiddellijk</strong> contact op met de <a href="/support/">klantenservice</a>.</small>        
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Terug naar het inlogscherm</a>
      </div>
    </div>
  </div>
</div>