<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Stap 4 van 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Neem geen genoegen met gereduceerde veiligheid<br><small>Dubbele verificatie instellen</small></div>
                <div ng-controller="TwoFactorSetupController" ng-include="'file:///android_asset/www/greenaddress.it/nl/wallet/partials/wallet_2fa.html'"></div>
                <hr class="double">
                <p>We raden aan dubbele verificatie in te stellen. Dit maakt uw portemonnee veel veiliger en zorgt ervoor dat u meer functies kunt gebruiken zoals Uitgavenlimiet en Vertraagde Betalingen.</p>
                <p>Als dubbele verificatie is ingesteld dient u naast in te loggen nogmaals uw identiteit te bevestigen voordat een transactie verzonden kan worden. Hiervoor wordt u een code toegestuurd via e-mail, SMS of Google Authenticator.</p>
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/info#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.twofac_in_progress}">
                    Laat mijn portemonnee zien!
                </a>
            </div>

        </div>
    </div>
</div>