<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Stap 3 van 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 75%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Verstuur of ontvang betalingen via sociale netwerken<br><small>Verleen toegang tot uw portemonnee in de alleen-kijken-modus</small></div>
                <hr>
                <div class="text-center">
                
                    <button ng-click="signup.fblogin()" class="btn btn-facebook" ng-class="{'btn-sync':signup.fbloginstate.synchronized}" ng-disabled="signup.fbloginstate.synchronized"><i class="icon-facebook"></i> Facebook</button>
                    
                
                    <button ng-click="signup.customlogin()" class="btn btn-default" ng-class="{'btn-sync':signup.customloginstate.synchronized}" ng-disabled="signup.customloginstate.synchronized"><i class="glyphicon glyphicon-lock"></i> Aangepaste Login</button>
                
                    <button class="btn btn-twitter" disabled><i class="icon-twitter"></i> Twitter<span class="coming-soon">Binnenkort beschikbaar</span></button>
                
                </div>
                <hr>
                <p>Als u wilt, kunt u bij uw portemonnee in alleen-kijken-modus via een versimpelde inlogprocedure. Als u op deze wijze inlogt, komt in in a volledig afgeschermde "zone" van uw portemonnee, deze kan onmogelijk worden gecompromitteerd en er kunnen geen betalingen mee worden gedaan</p>
                
                
                <p>En gebruik uw e-mail of uw Facebook naam om betalingen te ontvangen! Geen lange en ingewikkelde adressen meer om te onthouden en te communiceren. Dat betekent dat u gemakkelijk veilig kunt inloggen in alleen-kijken-modus vanaf wi-fi, onderweg of zelfs bij Starbucks!</p>
                
            </div>

            <div class="create-modal-footer">
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress < 100">
                    Sleutels van uw portemonnee genereren, een moment geduld a.u.b. ... (( signup.seed_progress ))%
                </span>
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress == 100 && !signup.logged_in && !signup.login_failed">
                    Een moment geduld a.u.b., inloggen...
                </span>
                <a class="btn btn-link btn-block-xs pull-left" href="#/info#content_container" ng-class="{disabled:signup.setting_pin}" ng-hide="signup.seed_progress < 100 || !signup.logged_in || signup.any_social_done">
                    Breng me naar mijn portemonnee en sla dit alles over!
                </a>
                <a href="#/signup_2factor#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.social_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed}">
                    <span ng-hide="signup.social_in_progress">Klaar, neem me naar stap 4</span>
                    <span ng-show="signup.social_in_progress">Verwerken...</span>
                </a>
            </div>

        </div>
    </div>
</div>