<div class="modal-header">
    Confirm transaction details
</div>

<div class="modal-body">
    <p>
        <span ng-show="tx.previous_fee !== undefined">You are about to bump a fee.</span>
        Please make sure the details below are correct:
    </p>

    <dl>
        <dt>Ontvanger</dt>
        <dd>(( tx.recipient ))</dd>
    </dl>

    <dl>
        <dt>Bedrag</dt>
        <dd>(( tx.value | format_btc:wallet.unit ))</dd>
    </dl>

    <dl>
        <dt>Transactiekosten</dt>
        <dd>
            (( tx.fee | format_btc:wallet.unit ))
            <span ng-show="tx.previous_fee">
                (Previous fee: (( tx.previous_fee | format_btc:wallet.unit )))
            </span>
        </dd>
    </dl>
</div>

<div class="modal-footer">
    <div class="">
        <button class="btn btn-default" ng-click="$dismiss()">Annuleren</button>
        <button class="btn btn-primary" ng-click="$close()">Send transaction</button>
    </div>
</div>