<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">
            <div class="create-modal-header" ng-hide="wallet.redeem_key">
                Non hai ancora un account? <a href="#/create">Crea un nuovo portafogli</a>
            </div>
            <div class="create-modal-body text-center">
                <div ng-include="wallet.signuplogin_header"></div>
                <hr>
                <div class="subtitle">Accedi per pieno accesso al portafogli</div>
                <form class="form-horizontal" ng-submit="login()" ng-class="{'has-error': state.mnemonic_error}">
                    <div class="control-group" ng-class="{'has-error': state.error && form.$invalid}">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1">
                                <input ng-show="state.has_pin" class="form-control pin" ng-disabled="is_loading || logging_in" type="tel" mask-input name="pin" maxlength="4" pattern="[0-9]{4}" ng-pattern="/[0-9]{4}/" focus-on="pin" placeholder="codice PIN" ng-model="use_pin_data.pin" />
                            </div>
                            <div class="col-sm-1">
                                <p ng-show="state.has_pin" class="form-control-static">o</p>
                            </div>
                            <div class="col-sm-7">
                                
                                <span class="input-group">
                                    <input class="form-control" ng-disabled="is_loading || logging_in" ng-model="state.mnemonic" placeholder="La tua passphrase mnemonica" ng-model="" ng-class="{'has-error': state.mnemonic_error}" />
                                    <span class="input-group-btn">
                                        <a class="btn btn-default" ng-click="read_qr_code()"><i class="glyphicon glyphicon-qrcode"></i> Leggi QR</a>
                                    </span>
                                </span>
                                
                                <span class="help-block" ng-show="state.mnemonic_error"><i class="glyphicon glyphicon-info-sign"></i> Generazione mnemonic in corso ..: (( state.mnemonic_error ))</span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!wallet.send_to_receiving_id">
                        <hr>
                        <div class="subtitle">O accedi in modalità watch only</div>
                        
                        <a href="" ng-click="login_with_facebook()" class="btn btn-facebook"><i class="icon-facebook"></i> Facebook</a>
                        
                        
                        <a href="" ng-click="login_with_custom()" class="btn btn-default"><i class="glyphicon glyphicon-lock"></i> Login custom</a>
                        
                        <a href="" class="btn btn-twitter" disabled><i class="icon-twitter"></i> Twitter<span class="coming-soon">Disponibile a breve</span></a>
                        
                    </div>
                    <hr>
                    <button type="submit" ng-disabled="is_loading || logging_in || (state.seed_progress && !state.login_error)"
                            class="btn login-submit" ng-class="{'btn-primary': !state.login_error, 'btn-danger': state.login_error}"
                            href="#" id="restore-wallet-continue">
                        <span ng-hide="state.seed_progress || state.login_error">Per piacere accedi per usare il tuo portafogli</span>
                        <span ng-show="state.seed_progress && !state.login_error">Sto lavorando... ... (( state.seed_progress ))%</span>
                        <span ng-show="state.login_error">Errore, riprovare</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
