<div class="title">Stai per inviare
  <span ng-show="wallet.send_to_receiving_id_amount">((wallet.send_to_receiving_id_amount|format_btc:'mBTC'))</span><span ng-hide="wallet.send_to_receiving_id_amount">Bitcoin</span><span ng-show="wallet.send_to_receiving_id_currency"> (<span>((wallet.send_to_receiving_id_amount_fiat))</span> <span>((wallet.send_to_receiving_id_currency))</span>)</span>!
  <div ng-show="wallet.send_to_verified_common_name">
  	<strong>Destinatario verificato:</strong> (( wallet.send_to_verified_common_name ))
  </div>
  <div ng-show="wallet.send_to_receiving_id.indexOf('GA')==0">
    <br><small>Per piacere fai il login, crea un nuovo portafoglio o clicca in basso per vedere l'indirizzo bitcoin: URI:</small></div>
  <div ng-hide="wallet.send_to_receiving_id.indexOf('GA')==0">
    <br><small>Per piacere fai il login, crea un nuovo portafoglio, o usa l'indirizzo URI qui sotto:</small></div>
</div>

<p ng-show="wallet.send_to_receiving_id.indexOf('GA')==0">

  <a ng-show="bitcoin_uri" href="(( bitcoin_uri ))" onclick="return false;">(( bitcoin_uri ))</a>

  <button class="btn btn-info btn-block-xs" ng-click="show_bitcoin_uri()" ng-hide="bitcoin_uri" ng-disabled="generating_bitcoin_uri">Mostra</button>
  <button class="btn btn-default btn-block-xs" ng-click="show_bitcoin_uri(true)" ng-disabled="generating_bitcoin_uri"><i class="glyphicon glyphicon-qrcode"></i> Mostra Codice QR</button>
</p>

<p ng-hide="wallet.send_to_receiving_id.indexOf('GA')==0">
  <a href="(( wallet.send_to_receiving_id_bitcoin_uri ))">(( wallet.send_to_receiving_id_bitcoin_uri ))</a>
</p>