<div class="title">
  Hai ricevuto ((wallet.redeem_amount|format_btc:'mBTC'))!
  <p>(( wallet.redeem_message ))</p>
  <hr class="double">
  <small style="font-size:50%;">
  	<p ng-show="wallet.redeem_is_bip38">È possibile riscattarlo utilizzando qualsiasi portafoglio compatibile con BIP38  utilizzando la password consegnata dal mittente e la seguente chiave:  (( wallet.redeem_key )).</p>
  	<p ng-hide="wallet.redeem_is_bip38">È possibile riscattarlo utilizzando qualsiasi portafoglio WIF-compatibile utilizzando la seguente chiave:  (( wallet.redeem_key )).</p>
    <p>Se non hai un portafoglio GreenAddress, è possibile crearne uno per ricevere il pagamento <a class="btn btn-warning" href="/wallet/#/create/">Crea il tuo portafoglio</a></p>
    <p>Altrimenti, se sei gia' un utente registrato puoi fare il login qui sotto</p>
  </small>
</div>