<div submittable>

    <div class="modal-body">
        <p class="text-center" ng-show="!encrypting_voucher">Per piacere inserisci la password per crittografare la tua mnemonica</p>
        <p class="text-center" ng-show="encrypting_voucher">Please provide a password to encrypt the voucher</p>
        <p class="label-warning" ng-show="encrypting_voucher">If you use a different password from the one used when you created the voucher, the clear text voucher message (if any) will not be displayed at the voucher URL.</p>
        <hr>
        <form ng-submit="encrypt_password_modal.encrypt()" name="form" class="form-horizontal">
            <div class="form-group" ng-class="{'has-error': encrypt_password_modal.error}">
                <label for="passwordId" class="col-sm-5 control-label">Password</label>
                <div class="col-sm-4">
                    <input clickfix class="form-control" focus-on="encryptPasswordModal" type="password"
                           ng-model="encrypt_password_modal.password" id="passwordId"
                           ng-disabled="encrypt_password_modal.encrypting" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': encrypt_password_modal.error}">
                <label for="passwordRepeatedId" class="col-sm-5 control-label">Ridigitare password</label>
                <div class="col-sm-4">
                    <input clickfix class="form-control" type="password"
                           ng-model="encrypt_password_modal.password_repeated" id="passwordRepeatedId"
                           ng-disabled="encrypt_password_modal.encrypting" />
                    <input type="submit" class="hide" submitter ng-disabled="encrypt_password_modal.encrypting" />
                    <div class="help-block" ng-show="encrypt_password_modal.error"><i class="glyphicon glyphicon-info-sign"></i> (( encrypt_password_modal.error ))</div>
                    <div class="help-block" ng-show="encrypt_password_modal.encrypting"><i class="glyphicon glyphicon-info-sign"></i> Si prega di attendere, crittografia in corso...</div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()" ng-disabled="encrypt_password_modal.encrypting">Annulla</button>
            <button class="btn btn-primary" ng-click="submit_me()" ng-disabled="encrypt_password_modal.encrypting">Cripta</button>
        </div>
    </div>

</div>