<div class="title">Du är på väg att skicka 
  <span ng-show="wallet.send_to_receiving_id_amount">((wallet.send_to_receiving_id_amount|format_btc:'mBTC'))</span><span ng-hide="wallet.send_to_receiving_id_amount">Bitcoin</span><span ng-show="wallet.send_to_receiving_id_currency"> (<span>((wallet.send_to_receiving_id_amount_fiat))</span> <span>((wallet.send_to_receiving_id_currency))</span>)</span>!
</div>

<div class="text-center">
  <p>
    <img src="/static/img/logos/logo-greenaddress.png" />
  </p>

  <p ng-show="wallet.send_to_verified_common_name">
    <strong>(( wallet.send_to_verified_common_name ))</strong>
  </p>

  <hr>

  <p>
    <div ng-show="wallet.send_to_receiving_id.indexOf('GA')==0" class="subtitle">
      Click below to show a bitcoin: URI:
    </div>
    <div ng-hide="wallet.send_to_receiving_id.indexOf('GA')==0" class="subtitle">
      Use the URI below:
    </div>
  </p>

  <p ng-show="wallet.send_to_receiving_id.indexOf('GA')==0" class="text-center">
  
    <a ng-show="bitcoin_uri" href="(( bitcoin_uri ))" onclick="return false;">(( bitcoin_uri ))</a>
  
    <button class="btn btn-info btn-block-xs" ng-click="show_bitcoin_uri()" ng-hide="bitcoin_uri" ng-disabled="generating_bitcoin_uri">Visa</button>
    <button class="btn btn-default btn-block-xs" ng-click="show_bitcoin_uri(true)" ng-disabled="generating_bitcoin_uri"><i class="glyphicon glyphicon-qrcode"></i> Visa Qr-kod</button>
  </p>

  <p ng-hide="wallet.send_to_receiving_id.indexOf('GA')==0">
    
      <a href="(( wallet.send_to_receiving_id_bitcoin_uri ))" onclick="return false;">(( wallet.send_to_receiving_id_bitcoin_uri ))</a>
    
  </p>
</div>