<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Zostałeś wylogowany.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
        Zostałeś zalogowany gdzieś indziej.<br>             <small>Jeśli to nie jesteś Ty, proszę zgłoś to <strong>natychmiast</strong> do <a href="/support/">wsparcia technicznego</a>.</small>    
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Powrót do logowania</a>
      </div>
    </div>
  </div>
</div>