<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Krok 4 z 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Nie uznajemy kompromisów w sprawie bezpieczeństwa<br><small>Dwuetapowa autoryzacja</small></div>
                <div ng-controller="TwoFactorSetupController" ng-include="'file:///android_asset/www/greenaddress.it/pl/wallet/partials/wallet_2fa.html'"></div>
                <hr class="double">
                <p>Mocno zachęcamy do włączenia dwuetapowej autoryzacji, co zapewni bezpieczeństwo Twojemu portfelowi a ponadto umożliwi wykorzystanie dodatkowych funkcji takich jak ustawienie limitów wydatków i opóźnionych płatności.</p>
                <p>Jeśli skonfigurujesz tę opcję, każdorazowe wykonanie transakcji będzie, oprócz zalogowania się, wymagać potwierdzenia jednorazowym hasłem wysłanym do Ciebie przez email, sms, lub Google Authenticator, zgodnie z Twoim wyborem.</p>
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/info#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.twofac_in_progress}">
                    Zabierz mnie do mojego Portfela!
                </a>
            </div>

        </div>
    </div>
</div>