<div class="row hidden-xs hidden-sm">
  <div class="col-md-12">
    <div class="header">
      Transakcje<span class="balance pull-right" ng-include="'../'+LANG+'/wallet/partials/wallet_balance.html'"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="sub-header">
      (( wallet.unit ))
      <!-- <span class="header-options">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="">Rok</a></li>
          <li><a href="">Miesiąc</a></li>
          <li><a href="">Tydzień</a></li>
        </ul>
      </span> -->
    </div>
    <div id="btc_graph" class="graph"></div>
  </div>
  <!-- <div class="col-md-6">
    <div class="sub-header">
      EUR
      <span class="header-options">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="">Rok</a></li>
          <li><a href="">Miesiąc</a></li>
          <li><a href="">Tydzień</a></li>
        </ul>
      </span>
    </div>
    <div class="graph"><img class="img-responsive" src="/static/img/pages/index/preview.png"></div>
  </div> -->
</div>
<div ng-controller="TransactionsController">
  <div class="row">
    <div class="col-md-12">
      <div class="sub-header">Twoje ostatnie transakcje</div>
      <div class="header-options">
        <ul class="nav nav-pills">
          <li ng-class="{active: wallet.transactions.limiter.cur_limit[0] == '10'}"><a href="" ng-click="wallet.transactions.limiter.last10()">10 ostatnich pozycji</a></li>
          <li ng-class="{active: wallet.transactions.limiter.cur_limit.toString() == ['months', 1].toString()}"><a href="" ng-click="wallet.transactions.limiter.lastnmonths(1)">Ostatni miesiąc</a></li>
          <li ng-class="{active: wallet.transactions.limiter.cur_limit.toString() == ['months', 3].toString()}"><a href="" ng-click="wallet.transactions.limiter.lastnmonths(3)">Ostatnie 3 miesiące</a></li>
          <li ng-class="{active: wallet.transactions.limiter.cur_limit[0] == 'all'}"><a href="" ng-click="wallet.transactions.limiter.all()">Wszystkie</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ng-include="'../'+LANG+'/wallet/partials/wallet_transactions_table.html'"></div>
    </div>
  </div>
</div>