<div class="row hidden-xs hidden-sm">
  <div class="col-md-12">
    <div class="header">
      Wyślij pieniądze<span class="balance pull-right" ng-include="'file:///android_asset/www/greenaddress.it/'+LANG+'/wallet/partials/wallet_balance.html'"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="recipient">Odbiorca</label>
        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
            <input ng-controller="AddressBookController" ng-model="send_tx.recipient" class="form-control" type="text" id="recipient" name="recipient" placeholder="Wpisz adres bitcoin odbiorcy, jego email lub nazwę konta Facebook"
                    typeahead="item as item.name for item in addressbook.items | filter:$viewValue | limitTo:8" />
            <span class="input-group-btn">
              <span class="btn btn-default" ng-hide="scanning_qr_video"><i class="glyphicon glyphicon-qrcode"></i>
                Skanuj kod QR
                <input style="opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%" type="file" id="qrcodeinput_login" accept="image/*" capture="camera" ga-click-no-touch="send_tx.read_qr_code($event)">
              </span>
              <a class="btn btn-default" ng-show="scanning_qr_video" ng-click="send_tx.stop_scanning_qr_code()">Anuluj</a>
            </span>
          </div>  
          
        </div>
      </div>
      <div class="form-group" ng-hide="send_tx.recipient_is_btcaddr() || wallet.send_unencrypted">
        <label class="col-sm-2 control-label" for="recipient">Hasło szyfrowania</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input ng-model="send_tx.passphrase" class="form-control" type="text" />
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="amount">Kwota</label>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-xs-6 col-sm-5 col-md-4">
              <div class="input-group">
                <span class="input-group-addon">((wallet.unit))</span>
                <input class="form-control" type="text" ng-model="send_tx.amount" placeholder="0.0000" />
              </div>
            </div>
            <div class="col-xs-6 col-sm-5 col-md-4">
              <div class="input-group">
                <span class="input-group-addon">(( wallet.fiat_currency ))</span>
                <input class="form-control" type="text" ng-model="send_tx.amount_fiat" placeholder="0.00" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-hide="wallet.send_from || send_tx.recipient.type == 'payreq'">
        <div class="col-sm-offset-2 col-sm-10">
          <label class="text-petty radio-inline" style="padding:0 5px 0 0;">
            Opłata (<span>((10000|format_btc:wallet.unit))</span> / kB) zostanie pokryta przez:
          </label>
          <div style="display: inline-block;">
            <label class="radio-inline" style="padding-top:0;">
              <input type="radio" ng-model="send_tx.add_fee" value="sender" />
              <span>Ja</span>
            </label>
            <label class="radio-inline" style="padding-top:0;">
              <input type="radio" ng-model="send_tx.add_fee" value="recipient" checked />
              <span>Odbiorca</span>
            </label>
          </div>
        </div>
      </div>
      <hr class="double">
      <button ng-disabled="send_tx.sending" class="btn btn-primary btn-block-xs pull-right" ng-click="send_tx.send_money()" href="">Wyślij pieniądze</button>
    </form>
  </div>
</div>

<!--
<ul>
  <li>amount: <input type="text" ng-model="send_tx.amount" /></li>

  <li ng-show="!send_tx.encrypted_key">
      <a class="btn btn-xs btn-primary" href="" ng-click="send_tx.send_to_priv()">Send to a new private key</a>
      with passphrase: <input type="text" ng-model="send_tx.passphrase" />
  </li>
  <li ng-show="send_tx.encrypted_key !== undefined">
      Encrypted key: (( send_tx.encrypted_key || "obliczenie" )) <a href="" ng-click="send_tx.send_to_priv_done()">done</a>
      <div ng-show="send_tx.encrypted_key">
          Send to email: <input type="email" ng-model="send_tx.email" /> <a href="" ng-click="send_tx.send_to_email()" ng-show="!send_tx.sending_email">send</a>
      </div>
  </li>
  <li>to address: <input type="text" ng-model="send_tx.to_addr" /></li>
</ul>
<a class="btn btn-primary" href="" ng-click="send_tx.send()">Send</a>

<a class="btn" ng-click="send_tx.read_qr_code()">Skanuj kod QR</a>

-->