
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3>Please re-deposit your funds</h3>
</div>
<div class="modal-body text-center">
    <p class="alert alert-warning">Posiadasz wygasłe depozyty. Dopóki ich ponownie nie zdeponujesz lub odbierzesz, żadne transakcje nie będą dozwolone</p>
    
    <div ng-hide="wallet.expired_deposits.length == 1">
    	<p><a class="btn btn-block-xs btn-info" ng-class="{disabled: redepositing}" href="" ng-click="redeposit_single_tx()">
    		Zdeponuj ponownie jako pojedynczą transakcję (tańsze)</a><br />
    		szacowana opłata: (( redeposit_estimated_fees.single_tx|format_btc:wallet.unit ))</p>
    	<p><a class="btn btn-block-xs btn-success" ng-class="{disabled: redepositing}" href="" ng-click="redeposit_multiple_tx()">
    		Zdeponuj ponownie jako jedną transakcję na każde wyjście (lepsza prywatność)</a><br />
    		szacowana opłata: (( redeposit_estimated_fees.multiple_tx|format_btc:wallet.unit ))
    		(<span>(( wallet.expired_deposits.length ))</span> transakcje)</p>
    </div>
    <div ng-show="wallet.expired_deposits.length == 1">
        <p><a class="btn btn-block-xs btn-success" ng-class="{disabled: redepositing}" href="" ng-click="redeposit_multiple_tx()">
            Redeposit</a><br />
            szacowana opłata: (( redeposit_estimated_fees.single_tx|format_btc:wallet.unit ))
            (1 transaction)</p>
    </div>
</div>