<div>

    <div class="modal-body">
    	<p class="text-center">(( firmware_upgrade_message ))</p>
        <p class="text-center">
            To upgrade your firmware, please use the following Chrome extension: 
            <a href="https://chrome.google.com/webstore/detail/ledger-wallet/kkdpmhnladdopljabkgpacgpliggeeaf" target="_blank">
                Ledger Wallet
            </a>
        </p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-primary" ng-click="$dismiss()">Zamknij</button>
        </div>
    </div>

</div>