<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Вы вышли из системы.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
                  Вы вошли вошли в систему на другом устройства.<br><small>Если это не вы, <strong>немедленно</strong> обратитесь в<a href="/support/"> поддержку</a>.</small>        
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Вернутся назад на страницу входа</a>
      </div>
    </div>
  </div>
</div>