<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                шаг 4 из 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Не идите на компромисс в вопросах безопасности<br><small>Настроить Двух-факторнаую аутентификацию</small></div>
                <div ng-controller="TwoFactorSetupController" ng-include="'../ru/wallet/partials/wallet_2fa.html'"></div>
                <hr class="double">
                <p>Мы настоятельно рекомендуем вам установить двухфакторную проверку подлинности, это сделает ваш кошелек гораздо более безопасным и позволит вам некоторые дополнительные функции, такие как лимит расходов и платежей с задержкой.</p>
                <p>Если вы ее установите, то для проведения транзакции Вам нужно не только войти в Ваш кошелек, но и подтвердить транзакцию введя код высланный Вам на email, SMS или Google Authenticator за вашим выбором.</p>
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/info#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.twofac_in_progress}">
                    Веди меня к кошельку
                </a>
            </div>

        </div>
    </div>
</div>