<div submittable>

    <div class="modal-body">
        <p class="text-center">Пожалуйста отправьте сообщение через Facebook</p>
        <hr>
        <p><a class="btn btn-huge btn-facebook center-block" ng-click="send_fb_via_fb()"><i class="icon-facebook"></i> Отправить</a></p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Отменить - аннулировать транзакцию</button>
            <button class="btn btn-primary" ng-click="$close()" ng-disabled="!send_fb_via_fb_clicked">Я послал/а сообщение</button>
        </div>
    </div>

</div>