<div class="modal-body text-center">
    <p>QR-код для Google Authenticator доступа на ваш кошелек является:</p>
    <p><qr size="212" text="twofactor_state.google_secret_url"></qr></p>
    <p>Вы можете также скопировать код вручную:</p>
    <p>(( twofactor_state.google_secret_key ))</p>
</div>
<div class="modal-footer">
  
  <button class="btn btn-info btn-block-xs" ng-click="copy_to_clipboard(twofactor_state.google_secret_key)"><i class="glyphicon glyphicon-transfer"></i>Copy to clipboard</button>
  
  <button type="button" class="btn btn-primary" ng-click="$close()">Закрыть</button>
</div>