<div class="modal-body text-center">
    <p class="alert alert-warning">У вас есть некоторые депозиты, срок которых истек. Если вы не сделаете повторный депозит или не активируете их, транзакции будут запрещены</p>
    
    	<p><a href="" ng-click="redeposit_single_tx()">
    		Сделать депозит как одну транзакцию (дешевле)</a><br />
    		предполагаемая коммисия: (( redeposit_estimated_fees.single_tx|format_btc:wallet.unit ))</p>
    	<p><a href="" ng-click="redeposit_multiple_tx()">
    		Повторный депозит как одна транзакция на выход (лучшая конфиденциальность)</a><br />
    		предполагаемая коммисия: (( redeposit_estimated_fees.multiple_tx|format_btc:wallet.unit ))
    		(<span>(( wallet.expired_deposits.length ))</span> транзакции)</p>
    </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Закрыть</button>
</div>