platforms/
ant-build
ant-gen
local.properties
.DS_Store
*.class
*.d
.staging
my-release-key.keystore
*.swp
www/greenaddress.it/static/css
www/greenaddress.it/static/fonts
www/greenaddress.it/static/img
www/greenaddress.it/static/js
www/greenaddress.it/static/sound
www/greenaddress.it/static/static
www/greenaddress.it/electrum.js
www/greenaddress.it/??
venv
webfiles
plugins
