platforms/
ant-build
ant-gen
local.properties
.DS_Store
*.class
*.d
.staging
plugins/android.json
my-release-key.keystore
*.swp
www/greenaddress.it/static/css
www/greenaddress.it/static/fonts
www/greenaddress.it/static/img
www/greenaddress.it/static/js
www/greenaddress.it/static/sound
www/greenaddress.it/static/static
www/greenaddress.it/de
www/greenaddress.it/el
www/greenaddress.it/electrum.js
www/greenaddress.it/en
www/greenaddress.it/es
www/greenaddress.it/fi
www/greenaddress.it/fr
www/greenaddress.it/it
www/greenaddress.it/nl
www/greenaddress.it/pl
www/greenaddress.it/ru
www/greenaddress.it/sv
www/greenaddress.it/th
www/greenaddress.it/uk
venv
webfiles
plugins
