{
    "ios": {
        "debug": {
            "codeSignIdentity": "iPhone Developer",
            "developmentTeam": "DEVELOPMENT_TEAM",
            "packageType": "development"
        },
        "release": {
            "codeSignIdentity": "iPhone Developer",
            "developmentTeam": "DEVELOPMENT_TEAM",
            "packageType": "app-store"
        }
    }
}
