<div class="title">You're about to send 
  <span ng-show="wallet.send_to_receiving_id_amount">((wallet.send_to_receiving_id_amount|format_btc:'mBTC'))</span><span ng-hide="wallet.send_to_receiving_id_amount">Bitcoin</span>!
  <div ng-show="wallet.send_to_receiving_id.indexOf('GA')==0">
    <br><small>Please log in, create a new Wallet, or click below to show a bitcoin: URI:</small></div>
  <div ng-hide="wallet.send_to_receiving_id.indexOf('GA')==0">
    <br><small>Please log in, create a new Wallet, or use the URI below:</small></div>
</div>

<p ng-show="wallet.send_to_receiving_id.indexOf('GA')==0">
  <a ng-show="bitcoin_uri" href="(( bitcoin_uri ))">(( bitcoin_uri ))</a>
  <button class="btn btn-info btn-block-xs" ng-click="show_bitcoin_uri()" ng-hide="bitcoin_uri" ng-disabled="generating_bitcoin_uri">Show</button>
  <button class="btn btn-default btn-block-xs" ng-click="show_bitcoin_uri(true)" ng-disabled="generating_bitcoin_uri"><i class="glyphicon glyphicon-qrcode"></i> Show QR Code</button>
</p>

<p ng-hide="wallet.send_to_receiving_id.indexOf('GA')==0">
  <a href="(( wallet.send_to_receiving_id_bitcoin_uri ))">(( wallet.send_to_receiving_id_bitcoin_uri ))</a>
</p>