<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            <div class="create-modal-header">
                <span class="pull-left">Already got an account?
                    
                    <a href="/wallet">Login to your Wallet</a></span>
                    
                Step 1 of 4
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%"></div>
                </div>
            </div>

            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">You are now the proud owner of a bitcoin wallet<br>
                    <small>Please finish this 4-step account setup to fully secure it against intruders</small>
                </div>
                <hr>
                <div class="mnemonic-label ng-cloak" ng-show="signup.mnemonic">Your mnemonic passphrase</div>
                <div class="mnemonic info ng-cloak" ng-bind="signup.mnemonic" ng-show="signup.mnemonic"></div>
                <div class="mnemonic info" ng-hide="signup.mnemonic">Generating mnemonic, please wait...</div>
                <hr>
                <p>Please write down these words and store them in a safe place as they can't be recovered. <b>We do not store the above information anywhere, we can't help you recover it!</b></p>
            </div>

            <div class="create-modal-footer" ng-hide="signup.unexpected_error">
                <label for="checkbox-confirmation">
                    <input type="checkbox" ng-model="signup.secured_confirmed" id="checkbox-confirmation"> I confirm that my passphrase is saved &amp; secured and I agree with the <a href="/tos" target="_blank">Terms of Service</a>
                </label>
                <br>
                <button class="btn btn-default btn-block-xs" ng-click="signup.qrmodal()" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-qrcode"></i> Show QR Code</button>
                
                <button class="btn btn-default btn-block-xs" ng-click="signup.nfcmodal()" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-transfer"></i> Write to NFC tag</button>
                
                <a ng-hide="signup.noLocalStorage" class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.mnemonic||!signup.secured_confirmed}" href="#/signup_pin#content_container">Continue!</a>
                <a ng-show="signup.noLocalStorage" class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.mnemonic||!signup.secured_confirmed}" href="#/signup_oauth#content_container">Continue!</a>
            </div>

            <div class="create-modal-footer" ng-show="signup.unexpected_error">
                <a class="btn btn-danger login-submit" href="" ng-click="signup.try_again()">
                    Error:  (( signup.unexpected_error )).  Click to try again
                </a>
            </button>
            </div>

        </div>
    </div>
</div>


<div class="printable">
    <h1><img src="/static/img/logos/logo-greenaddress.png" alt="GreenAddres.it"> GreenAddress.it<br><small>https://greenaddress.it</small></h1>
    <p>The passphrase to access your wallet is:</p>
    <div class="mnemonic noanimate">(( signup.mnemonic ))</div>
    <qr ng-if="signup.mnemonic" class="qrcode" text="(( signup.mnemonic ))" size="212"></qr>
    <p><i class="glyphicon glyphicon-exclamation-sign"></i> <i>Store this page in a safe place</i></p>
</div>