<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Step 3 of 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 75%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Pay or get paid by social networks<br><small>Grant access to your wallet in watch-only mode</small></div>
                <hr>
                <div class="text-center">
                
                    <button ng-click="signup.fblogin()" class="btn btn-facebook" ng-class="{'btn-sync':signup.fbloginstate.synchronized}" ng-disabled="signup.fbloginstate.synchronized"><i class="icon-facebook"></i> Facebook</button>
                    
                
                    <button ng-click="signup.customlogin()" class="btn btn-default" ng-class="{'btn-sync':signup.customloginstate.synchronized}" ng-disabled="signup.customloginstate.synchronized"><i class="glyphicon glyphicon-lock"></i> Custom Login</button>
                
                    <button class="btn btn-twitter" disabled><i class="icon-twitter"></i> Twitter<span class="coming-soon">Coming soon</span></button>
                
                </div>
                <hr>
                <p>If you like you can access your Wallet in Watch-Only mode via simple login. When you login in this way you access a completely separate "area" of your wallet, in no way it can be compromised and payments cannot be made</p>
                
                
                <p>Plus use your email or your Facebook name to receive payments! No more long and complicated addresses to remember and communicate. That means that you can easily login in 'watch-only mode' safely from any wi-fi, on the go or even at Starbucks!</p>
                
            </div>

            <div class="create-modal-footer">
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress < 100">
                    Generating your wallet keys, please wait ... (( signup.seed_progress ))%
                </span>
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress == 100 && !signup.logged_in && !signup.login_failed">
                    Please wait, logging in...
                </span>
                <a class="btn btn-link btn-block-xs pull-left" href="#/info#content_container" ng-class="{disabled:signup.setting_pin}" ng-hide="signup.seed_progress < 100 || !signup.logged_in || signup.any_social_done">
                    Take me to my wallet and skip all this!
                </a>
                <a href="#/signup_2factor#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.social_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed}">
                    <span ng-hide="signup.social_in_progress">Done, take me to step 4</span>
                    <span ng-show="signup.social_in_progress">Processing...</span>
                </a>
            </div>

        </div>
    </div>
</div>