<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Step 2 of 4
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 50%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Fast and secure access to your Wallet<br><small>To have a secure but quick access from this device set your PIN</small></div>
                <hr>
                <form role="form" class="form-horizontal" ng-submit="signup.set_pin()">
                    <div class="form-group" ng-class="{'has-error': state.error && form.$invalid}">
                        <label class="col-sm-5 control-label" for="id_pin">PIN number</label>
                        <div class="col-sm-4">
                            <input class="form-control pin" type="tel" mask-input
                                   id="id_pin" name="pin" maxlength="4" pattern="[0-9]{4}" ng-pattern="/[0-9]{4}/"
                                   placeholder="Four digits number" ng-model="signup.pin" ng-disabled="signup.pin_set" />
                        </div>
                        <input type="submit" class="hide" submitter />
                    </div>
                </form>
                <hr>
                <p>
                Access by PIN allows a quick login while keeping security to a high standard.                    The PIN secures a random AES 256 bit password which we will delete if 3 PIN attempts                    fail, forcing you to provide your full mnemonics once again. Easy, convenient and secure, so let's use it!
                </p>
            </div>

            <div class="create-modal-footer">
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress < 100">
                    Generating your wallet keys, please wait ... (( signup.seed_progress ))%
                </span>
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress == 100 && !signup.logged_in && !signup.login_failed">
                    Please wait, logging in...
                </span>
                <a class="btn btn-link btn-block-xs pull-left" href="#/info#content_container" ng-class="{disabled:signup.setting_pin}" ng-hide="signup.seed_progress < 100 || !signup.logged_in || signup.pin_set">
                    Take me to my wallet and skip all this!
                </a>
                <a ng-show="signup.pin" class="noanimate btn btn-primary btn-block-xs pull-right" ng-click="submit_me()" ng-class="{disabled:signup.setting_pin||signup.seed_progress < 100||!signup.logged_in||signup.login_failed}">
                    <span ng-hide="signup.setting_pin">PIN set, ready for step 3</span>
                    <span ng-show="signup.setting_pin">Setting PIN...</span>
                </a>
                <a ng-show="!signup.pin" class="noanimate btn btn-primary btn-block-xs pull-right" ng-click="submit_me()" ng-class="{disabled: !signup.logged_in || signup.login_failed}">
                    <span>Skip PIN setup and continue</span>
                </a>
            </div>

        </div>
    </div>
</div>