<div class="modal-body">

    <p ng-show="!receive.my_addresses.length">No addresses found</p>
    <table class="table" ng-show="receive.my_addresses.length">
        <tr><th>Address</th><th>number of transactions</th></tr>
        <tr ng-repeat="address in receive.my_addresses">
            <td>(( address.ad ))</td>
            <td>(( address.num_tx ))</td>
        </tr>
    </table>

</div>

<div class="modal-footer">
    <div class="">
        <button class="btn btn-primary" ng-click="$dismiss()">Close</button>
    </div>
</div>