<div class="modal-body text-center">
    <p>The QR code containing passphrase to access your wallet is:</p>
    <p><qr text="(( wallet.mnemonic ))" size="212"></qr></p>
    <p><b><i class="glyphicon glyphicon-exclamation-sign"></i> Remember to store it in a safe place!</b></p>

    <div class="mnemonic-label">Your mnemonic passphrase</div>
    <div class="mnemonic info" ng-bind="wallet.mnemonic"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Close</button>
</div>