<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Ci spiace ma il tuo browser non è supportato.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
          Ci spiace ma il tuo browser non è supportato.<br>
          <small>Per favore prova un browser moderno come Chrome, Firefox or la nostra app Android!</small>
        </span>
        <hr>
        <a target="_blank" class="supported-browsers" href="http://www.google.com/chrome/"><img src="/static/img/logos/logo-browser-chrome.png" /></a>
        <a target="_blank" class="supported-browsers" href="http://firefox.com/"><img src="/static/img/logos/logo-browser-firefox.png" /></a>
        <a target="_blank" class="supported-browsers" href="http://www.apple.com/safari/"><img src="/static/img/logos/logo-browser-safari.png" /></a>
        <a target="_blank" class="supported-browsers" href="https://play.google.com/store/apps/details?id=it.greenaddress.cordova"><img src="/static/img/logos/logo-google-play.svg" class="android-app" /></a>
      </div>
    </div>
  </div>
</div>