<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Sei uscito
      </div>
      <div class="create-modal-body text-center">
        <span class="title">

                  You have logged in elsewhere.<br>          <small>If it was not you, please contact <strong>immediately</strong>        
        
          <a href="" onclick="window.open('support.html', '_blank', 'location=no'); return false">support</a>.
        </small>
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Torna al login</a>
      </div>
    </div>
  </div>
</div>