<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Sei uscito
      </div>
      <div class="create-modal-body text-center">
        <span class="title">

                     Ti sei loggato altrove. <br><small> Se non eri tu, per piacere contatta <strong> subito</strong>       
        
          <a href="#" onclick="cordova.InAppBrowser.open('https://greenaddress.it/support.html', '_system'); return false">supporto</a>.
        </small>
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Torna al login</a>
      </div>
    </div>
  </div>
</div>