<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            
            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">Per maggior sicurezza, continua la tua registrazione attraverso la nostra app desktop o mobile<br>
                    <small>Applicazioni installate localmente sono generalmente piu' sicure da utilizzare che dei siti web</small>
                </div>
                <hr>
                <p>Queste apps sono disegnate per proteggere te e i tuoi bitcoin anche in caso il servizio fosse attaccato e queste dovrebbero essere preferibili all'utilizzare direttamente il sito da browser.<br/><br/>
                Web access is intended to be used for watch only mode or if you have no alternative, like on the Windows Mobile platform. 
                <br/>
                <br/>
                Please see the link to Google Play store, Chrome Web Store or AppStore below
                </p>
            </div>

            <div class="create-modal-footer">
                <a target="_blank" class="supported-browsers" href="https://play.google.com/store/apps/details?id=it.greenaddress.cordova"><img src="/static/img/logos/logo-google-play.png" class="android-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://chrome.google.com/webstore/detail/greenaddressit/dgbimgjoijjemhdamicmljbncacfndmp" ><img src="/static/img/logos/logo-chrome-web-store.png" class="chrome-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://itunes.apple.com/us/app/greenaddress/id889740745?mt=8#"><img src="/static/img/logos/logo-appstore-it.svg" class="ios-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://f-droid.org/repository/browse/?fdid=it.greenaddress.cordova"><img src="../static/img/logos/logo-fdroid.svg" class="fdroid-app" /></a>
                <hr>
                <a class="btn btn-primary btn-block-xs" href="#/create">Continua su web</a>
            </div>

        </div>
    </div>
</div>