<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Passo 4 di 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Invia e ricevi denaro via social networks<br><small>Permetti ai tuoi amici, colleghi e parenti di inviarti denaro in modo facile e veloce e accedi al tuo portafoglio in modalità a sola lettura</small></div>
                <hr>
                <div class="text-center">
                
                    <button ng-click="signup.fblogin()" class="btn btn-facebook" ng-class="{'btn-sync':signup.fbloginstate.synchronized}" ng-disabled="signup.fbloginstate.synchronized"><i class="icon-facebook"></i> Facebook</button>
                    
                
                <button ng-click="signup.customlogin()" class="btn btn-default" ng-class="{'btn-sync':signup.customloginstate.synchronized}" ng-disabled="signup.customloginstate.synchronized"><i class="glyphicon glyphicon-lock"></i> Login custom</button>
                </div>
                <hr>
                <p>Se vuoi puoi accedere al tuo portafoglio in modalità a sola lettura (Watch-Only )loggandoti con uno di questi servizi. Quando accedi in questo modo non è possibile effettuare pagamenti e quindi riduci i rischi. Questo significa che puoi accedere al tuo portafoglio per controllare se hai ricevuto un pagamento anche da un wifi pubblico!</p>
                
                
                <p>E in più potrai usare la tua email o il tuo nome Facebook per ricevere pagamenti! Non dovrai più ricordare complicati indirizzi per inviare un pagamento! </p>
                
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/info#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.social_in_progres}">
                    <span ng-hide="signup.social_in_progress">Portami subito al mio portafoglio!</span>
                    <span ng-show="signup.social_in_progress">Elaborazione in corso...</span>
                </a>
            </div>

        </div>
    </div>
</div>