<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            
            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">Per maggior sicurezza, continua la tua registrazione attraverso la nostra app desktop o mobile<br>
                    <small>Applicazioni installate localmente sono generalmente piu' sicure da utilizzare che dei siti web</small>
                </div>
                <hr>
                <p>Queste apps sono disegnate per proteggere te e i tuoi bitcoin anche in caso il servizio fosse attaccato e queste dovrebbero essere preferibili all'utilizzare direttamente il sito da browser.<br/><br/>
                L'accesso via web e' inteso solo per la modalita' 'watch-only' o se non ci sono alternative come sulla piattaforma di iOS. 
                <br/>
                <br/>
                Disponibili qui sotto i link alla nostra app su Google Play store e Chrome Web Store
                </p>
            </div>

            <div class="create-modal-footer">
                <a target="_blank" class="supported-browsers" href="https://play.google.com/store/apps/details?id=it.greenaddress.cordova"><img src="/static/img/logos/logo-google-play.png" class="android-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://chrome.google.com/webstore/detail/greenaddressit/dgbimgjoijjemhdamicmljbncacfndmp" ><img src="/static/img/logos/logo-chrome-web-store.png" class="chrome-app" /></a>
                <a class="btn btn-primary btn-block-xs" href="#/create">Continua su web</a>
            </div>

        </div>
    </div>
</div>