<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Passo 3 di 4
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 75%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Accesso rapido e sicuro al tuo portafogli<br><small>Per avere un accesso sicuro ma veloce da questo dispositivo configura il PIN</small></div>
                <hr>
                <form role="form" class="form-horizontal" ng-submit="signup.set_pin()">
                    <div class="form-group" ng-class="{'has-error': state.error && form.$invalid}">
                        <label class="col-sm-5 control-label" for="id_pin">codice PIN</label>
                        <div class="col-sm-4">
                            <input class="form-control pin" type="tel" mask-input
                                   id="id_pin" name="pin" maxlength="15" pattern="[0-9]{4,15}" ng-pattern="/[0-9]{4,15}/"
                                   placeholder="4-15 digits number" ng-model="signup.pin" ng-disabled="signup.pin_set" />
                        </div>
                        <input type="submit" class="hide" submitter />
                    </div>
                </form>
                <hr>
                <p>
                Accedere col PIN permetter un accesso veloce mantenendo la sicurezza a standard elevati. Il PIN rende sicura una passwrod random AES 256 bit che cancelliamo dopo tre tentativi falliti, costringendoti a immettere nuovamente la mnemonica. Facile, rapido e sicuro, usalo!
                </p>
            </div>

            <div class="create-modal-footer">
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress < 100">
                    Generazione delle chiavi del tuo portafogli ... (( signup.seed_progress ))%
                </span>
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress == 100 && !signup.logged_in && !signup.login_failed">
                    Attendi per favore, accesso in corso...
                </span>
                <a class="btn btn-link btn-block-xs pull-left" href="#/info#content_container" ng-class="{disabled:signup.setting_pin}" ng-hide="signup.seed_progress < 100 || !signup.logged_in || signup.pin_set">
                    Portami al mio portafoglio e saltiamo la configurazione!
                </a>
                <a ng-show="signup.pin" class="noanimate btn btn-primary btn-block-xs pull-right" ng-click="submit_me()" ng-class="{disabled:signup.setting_pin||signup.seed_progress < 100||!signup.logged_in||signup.login_failed}">
                    <span ng-hide="signup.setting_pin">PIN configurato, vai al passo 3</span>
                    <span ng-show="signup.setting_pin">Configurazione PIN...</span>
                </a>
                <a ng-show="!signup.pin" class="noanimate btn btn-primary btn-block-xs pull-right" ng-click="submit_me()" ng-class="{disabled: !signup.logged_in || signup.login_failed}">
                    <span>Salta l'impostazione del PIN e continua</span>
                </a>
            </div>

        </div>
    </div>
</div>