<div class="modal-body text-center">
    <p>Il codice QR che contiene la tua passphrase per accedere al tuo portafoglio è:</p>
    <p><qr size="212" text="twofactor_state.google_secret_url"></qr></p>
    <p>Puoi anche copiare il codice manualmente:</p>
    <p>(( twofactor_state.google_secret_key ))</p>
</div>
<div class="modal-footer">
  
  <button class="btn btn-info btn-block-xs" ng-click="copy_to_clipboard(twofactor_state.google_secret_key)"><i class="glyphicon glyphicon-transfer"></i>Copia</button>
  
  <button type="button" class="btn btn-primary" ng-click="$close()">Chiudi</button>
</div>