<div>

    <div class="modal-body">
    	<p class="text-center">Nessun server di electrum è raggiungibile. Sono usati per verificare che i nostri server non tentino di fuorviare il client nello spendere un ammontare sbagliato di denaro.</p>
        <p class="text-center">Vuoi comunque inviare la transazione senza la verifica del network di electrum?</p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Annulla</button>
            <button class="btn btn-primary" ng-click="$close()">Continua</button>
        </div>
    </div>

</div>