<div class="modal-header">
    Dettagli
</div>

<div class="modal-body">
    <dl>
        <dt>Orario</dt>
        <dd>(( selected_transaction.ts ))</dd>

        <dt>Codice Identificativo</dt>
        <dd>(( selected_transaction.txhash ))</dd>
        
        <dt>Fee</dt>
        <dd>(( selected_transaction.fee | format_btc:wallet.unit ))</dd>

        <dt ng-show="selected_transaction.double_spent_by">Transazione</dt>
        <dd ng-show="selected_transaction.double_spent_by">(( selected_transaction.rawtx ))</dd>

        <dt ng-show="selected_transaction.double_spent_by">Doppia spesa da txhash</dt>
        <dd ng-show="selected_transaction.double_spent_by">(( selected_transaction.double_spent_by ))</dd>

        <dt ng-show="selected_transaction.payment_request">Richiesta di pagamento</dt>
        <dd ng-show="selected_transaction.payment_request">
            <a ng-href="(( selected_transaction.payment_request ))" download="(( selected_transaction.txhash )).paymentrequest">download</a>
        </dd>
    </dl>

    <hr class="double">

    <p style="font-size:140%;"><b>Inputs</b></p>

    <table class="table">
        <tr><th>Indirizzo</th><th>Ammontare</th></tr>
        <tr ng-repeat="input in selected_transaction.inputs">
            <td>(( input.ad ))</td>
            <td>(( input.value | format_btc:wallet.unit ))</td>
        </tr>
    </table>

    <hr class="double">

    <p style="font-size:140%;"><b>Outputs</b></p>

    <table class="table">
        <tr><th>Indirizzo</th><th>Ammontare</th></tr>
        <tr ng-repeat="output in selected_transaction.outputs">
            <td>(( output.ad ))</td>
            <td>(( output.value | format_btc:wallet.unit ))</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <div class="">
        <button class="btn btn-primary" ng-click="$dismiss()">Chiudi</button>
    </div>
</div>