<div class="modal-header">
    Riprenditi i bitcoin
</div>

<div class="modal-body">
    <p>Vuoi riprendere i bitcoin da questa transazione?</p>
    <dl>
        <dt>Orario</dt>
        <dd>(( redeem_transaction.ts ))</dd>

        <dt>Codice Identificativo</dt>
        <dd>(( redeem_transaction.txhash ))</dd>
        
        <dt>Descrizione</dt>
        <dd>(( redeem_transaction.description ))</dd>

        <dt>Ammontare</dt>
        <dd>(( redeem_transaction.value|format_btc:wallet.unit )) </dd>
    </dl>
</div>

<div class="modal-footer">
    <div class="">
        <button class="btn btn-secondary" ng-class="{disabled: redeeming}" ng-click="$dismiss()">Annulla</button>
        <button class="btn btn-primary" ng-class="{disabled: redeeming}" ng-click="_redeem()">Ok</button>
    </div>
</div>