<div class="modal-body text-center">
    <p>The QR code containing the passphrase to access your wallet is:</p>
    <p><qr text="(( mnemonic_encrypted || wallet.mnemonic ))" size="212"></qr></p>
    <p ng-show="mnemonic_encrypted">Questa password è criptata, quindi la tua password di crittazione è richiesta per utilizzarla.</p>
    <p><b><i class="glyphicon glyphicon-exclamation-sign"></i> Fai il backup di questa pagina in un posto sicuro!</b></p>

    <div class="mnemonic-label">La tua passphrase mnemonica</div>
    <div class="mnemonic info" ng-bind="mnemonic_encrypted || wallet.mnemonic"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Chiudi</button>
</div>