<div class="modal-body text-center">
	<div ng-show="btchip.already_setup">
    	<p>Il tuo BTChip è già configurato. Per usarlo con GreenAddress devi resettarlo. Vuoi procedere? La procedura verrà effettuata fornendo un PIN incorretto 3 volte di seguito. <strong>Perderai accesso ai dati contenuti sul dispositivo.</strong></p>
    	<button ng-hide="btchip.resetting" type="button" class="btn btn-danger" ng-click="btchip.reset()">Reinizializza BTChip</button>
    	<button ng-show="btchip.resetting" type="button" disabled="disabled" class="btn btn-danger" ng-click="btchip.reset()">Resetting...
    	<span ng-show="btchip.replug_required">Per piacere rimuovi e reinserisci il tuo dispositivo di nuovo (<span>(( btchip.resets_remaining )) tentativi PIN rimasti</span>)</span></button>
    </div>
	<div ng-show="!btchip.already_setup && !btchip.gait_setup">
    	<p ng-show="btchip.use_gait_mnemonic">Nuovo dispositivo vuoto BTChip trovato. Fai click sul bottone qui sotto per salvare all'interno del dispositivo i tuoi dati di accesso.</p>
        <p ng-hide="btchip.use_gait_mnemonic">Empty BTChip detected successfully. Click the button below to set it up.</p>
    	<button type="button" class="btn btn-success" ng-click="btchip.store()" ng-hide="btchip.storing || !btchip.use_gait_mnemonic">Salva su BTChip</button>
        <button type="button" class="btn btn-success" ng-click="btchip.store()" ng-hide="btchip.use_gait_mnemonic" ng-disabled="btchip.setting_up">Set up BTChip</button>
        <span class="btn btn-success disabled" ng-show="btchip.storing">
           	Generazione delle chiavi del tuo portafogli ... (( btchip.seed_progress ))%
        </span>
    </div>
	<div ng-show="btchip.gait_setup">
        <p ng-show="btchip.replug_for_backup">BTChip configurato correttamente!
        Please unplug your BTChip and plug it into a secure device supporting USB keyboards to read the seed backup.
        <strong>On the second device remember to first open a text editor or a similar application where the seed will be typed in by BTChip.</strong></p>
    	<p ng-hide="btchip.replug_for_backup">BTChip configurato correttamente!</p>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="$dismiss()">Chiudi</button>
</div>