<div submittable>

    <div class="modal-body">
    	<p class="text-center">Buono creato con successo!</p>
        <p>It is available at <a ng-href="((voucher.url))">((voucher.url))</a></p>
        
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Chiudi</button>
        </div>
    </div>

</div>

<div class="printable">
    <h1><img src="/static/img/logos/logo-greenaddress.png" alt="GreenAddress"> GreenAddress<br><small>https://greenaddress.it</small></h1>
    <p class="small">Questo è un voucher GreenAddress per  (( voucher.satoshis|format_btc:wallet.unit ))</p>
    <p ng-show="voucher.text">(( voucher.text ))</p>
    <p class="small">Il codice QR sottostante contiene l'URL per riscattare i soldi:</p>
    <qr class="qrcode" text="(( voucher.url ))" size="212"></qr>
    <p class="small" ng-hide="voucher.encrypted">In alternativa, puoi muovere i fondi a un portafoglio che supporta l'importazione tramite il seguente qr code:</p>
    <p class="small" ng-show="voucher.encrypted">In alternativa puoi spostare i fondi a un portafogli che supporta BIP38 usando il seguente qr code:</p>
    <qr class="qrcode" text="(( voucher.enckey ))" size="212"></qr>
</div>