<div class="modal-header">
    Confermare la modifica dell'origine dei prezzi
</div>
<div class="modal-body">
  <p>Cambiare la fonte del cambio mentre viene usata per i limiti di transazione risulterà nel reset dei limiti a 0. Vuoi procedere?
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="$dismiss()" ng-disabled="limits_editor.saving">Annulla</button>
  <button class="btn btn-primary btn-block-xs" ng-click="$close()" ng-disabled="limits_editor.saving">Ok</button>
</div>