<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Vous avez été déconnecté
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
                  Vous vous êtes connecté depuis un autre endroit. <br /> <small>Si ce n'était pas vous, contactez-nous <strong>immédiatement</strong> <a href="/support/">support</a>.</small>        
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Retour à la connexion</a>
      </div>
    </div>
  </div>
</div>