<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Etape 4 sur 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Encore plus de sécurité<br><small>Configurez l'authentification à deux-facteurs</small></div>
                <div ng-controller="TwoFactorSetupController" ng-include="'file:///android_asset/www/greenaddress.it/fr/wallet/partials/wallet_2fa.html'"></div>
                <hr class="double">
                <p>Nous vous conseillons vivement de mettre en place l'authentification deux-facteurs, cela renforcera la sécurité de votre porte-monnaie et vous permettra d'utiliser des fonctionnalités telles que les limites de dépense ainsi que les paiements différés.</p>
                <p>Si vous mettez en place la double authentification vous devrez confirmer chaque transaction avec un code par SMS ou e-mail, selon ce que vous aurez choisi.</p>
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/info#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.twofac_in_progress}">
                    Terminer et aller sur le porte-monnaie
                </a>
            </div>

        </div>
    </div>
</div>