<ul class="nav nav-tabs">
  <li ng-class="{active: twofactor_state.twofactor_type == 'email'}">
      <a href="" ng-click="show_email_auth()">Email</a>
  </li>
  <li ng-class="{active: twofactor_state.twofactor_type == 'gauth'}">
      <a href="" class="hidden-xs" ng-click="show_gauth()">Google Authenticator</a>
      <a href="" class="visible-xs" ng-click="show_gauth()">GA</a>
  </li>
  <li ng-class="{active: twofactor_state.twofactor_type == 'sms'}">
      <a href="" ng-click="show_sms_auth()">SMS</a>
  </li>
  <li ng-class="{active: twofactor_state.twofactor_type == 'phone'}">
      <a href="" ng-click="show_phone_auth()">Téléphone</a>
  </li>
</ul>

<div ng-show="twofactor_state.twofactor_type == 'gauth'">
    <p class="well" ng-show="twofactor_state.twofac_gauth_switch">
        Google Authenticator est activé
    </p>
    <div ng-show="!twofactor_state.twofac_gauth_switch" ng-if="twofactor_state.google_secret_url">
        <div class="row">
            <div class="col-sm-4">
                <dt>1) Installer l'application</dt>
                <dd>
                    Installez l'application sur votre appareil. Pour Android sur <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google play</a>et pour iOS sur <a href="https://itunes.apple.com/en/app/google-authenticator/id388497605?mt=8" target="_blank">Apple Store.</a>
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>2) Ajouter un compte</dt>
                <dd>
                    Ajoutez un compte sur le Google Authenticator et scannez le QR code ou entrez manuellement le code.
                    <div class="text-center"><button class="btn btn-default btn-sm" style="margin:15px 0 0;" ng-click="gauth_qr_modal()"><i class="glyphicon glyphicon-qrcode"></i> Voir le QR Code</button></div>
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>3) Confirmer le code</dt>
                <dd>
                    Google Authenticator va maintenant vous montrer un nombre que vous devrez reporter ci-dessous pour terminer la mise en place de l'authentification deux-facteurs.
                </dd>
            </div>
        </div>
        <hr class="hidden-xs">
        <div class="row">
            <div class="col-sm-12">
                <form role="form" class="form-horizontal" ng-submit="enable_twofac_gauth()">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="wallet-google-conf-code">Code Authenticator</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input ng-model="twofactor_state.twofac_gauth_code" class="form-control pin" type="tel" mask-input
                                    required="required" maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/"
                                    id="wallet-google-conf-code" placeholder="Entrez le code que vous avez reçu"  />
                                <span class="input-group-btn">
                                    <input ng-disabled="!twofactor_state.twofac_gauth_code" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Activer"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div ng-show="twofactor_state.twofactor_type == 'email'">
    <p class="well" ng-show="twofactor_state.twofac_email_switch">
        L'authentification deux-facteurs par email est activée
    </p>
    <div ng-show="!twofactor_state.twofac_email_switch">
        <div ng-show="!twofactor_state.email_set">
            <form role="form" class="form-horizontal" ng-submit="start_enabling_email()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-twofac-email">Votre adresse email</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input class="form-control" ng-model="twofactor_state.new_twofac_email"
                                id="wallet-twofac-email" type="email" name="email" required="required"
                                placeholder="Entrez votre adresse email" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.new_twofac_email || twofactor_state.enabling_email" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Activer"/>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="twofactor_state.email_set">
            <p>
                Vous devez fournir le code reçu par email pour mettre en place l'authentification deux-facteurs<br /> Consultez vos emails et indiquez le code.
            </p>
            <form role="form" class="form-horizontal" ng-submit="enable_twofac_email()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-email-conf-code">Code de l'email</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input ng-model="twofactor_state.twofac_email_code" class="form-control pin" type="tel" mask-input required="required"
                                maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-email-conf-code"
                                placeholder="Entrez le code que vous avez reçu" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.twofac_email_code" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Activer"/><a href="" class="btn btn-warning" ng-click="cancel_twofac_email()">Annuler</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-show="twofactor_state.twofactor_type == 'sms'">
    <p class="well" ng-show="twofactor_state.twofac_sms_switch">L'authentification deux-facteurs par SMS est activée</p>
    <div ng-show="!twofactor_state.twofac_sms_switch">
        <div ng-show="!twofactor_state.sms_set">
            <form role="form" class="form-horizontal" ng-submit="start_enabling_sms()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-twofac-sms">Votre numéro de téléphone</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input class="form-control" ng-model="twofactor_state.new_twofac_sms" id="wallet-twofac-sms"
                                type="tel" name="phone" required="required" placeholder="+NN... Entrez votre numéro de téléphone" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.new_twofac_sms || twofactor_state.enabling_sms" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Activer"/>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="twofactor_state.sms_set">
            <p>Vous devez fournir le code reçu par SMS pour activer l'authentification deux-facteurs.<br />Consultez vos SMS et indiquez le code.
            </p>
            <form role="form" class="form-horizontal" ng-submit="enable_twofac_sms()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-sms-conf-code">Code SMS</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input ng-model="twofactor_state.twofac_sms_code" class="form-control pin" type="tel" mask-input required="required"
                                maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-sms-conf-code"
                                placeholder="Entrez le code que vous avez reçu" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.twofac_sms_code" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Activer"/><a href="" class="btn btn-warning" ng-click="cancel_twofac_sms()">Annuler</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-show="twofactor_state.twofactor_type == 'phone'">
    <p class="well" ng-show="twofactor_state.twofac_phone_switch">L'authentification deux-facteurs par email est activée</p>
    <div ng-show="!twofactor_state.twofac_phone_switch">
        <div ng-show="!twofactor_state.phone_set">
            <form role="form" class="form-horizontal" ng-submit="start_enabling_phone()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-twofac-phone">Votre numéro de téléphone</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input class="form-control" ng-model="twofactor_state.new_twofac_phone" name="phone" id="wallet-twofac-phone"
                                type="tel" required="required" placeholder="+NN... Entrez votre numéro de téléphone" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.new_twofac_phone || twofactor_state.enabling_phone" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Activer"/>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="twofactor_state.phone_set">
            <p>Vous devez fournir le code reçu par SMS pour activer l'authentification deux-facteurs.<br>Consultez vos SMS et indiquez le code.
            </p>
            <form role="form" class="form-horizontal" ng-submit="enable_twofac_phone()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-phone-conf-code">Téléphone code</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input ng-model="twofactor_state.twofac_phone_code" class="form-control pin" type="tel" mask-input required="required"
                                maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-phone-conf-code"
                                placeholder="Entrez le code que vous avez reçu" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.twofac_phone_code" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Activer"/><a href="" class="btn btn-warning" ng-click="cancel_twofac_phone()">Annuler</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>