<div class="modal-body text-center">
    <p>Le QR code contenant la passphrase pour accéder à votre porte-monnaie est : </p>
    <p><qr text="(( mnemonic_encrypted || wallet.mnemonic ))" size="212"></qr></p>
    <p ng-show="mnemonic_encrypted">This passphrase is encrypted, so your encryption password is required to use it.</p>
    <p><b><i class="glyphicon glyphicon-exclamation-sign"></i> N'oubliez pas de la stocker dans un endroit sûr !</b></p>

    <div class="mnemonic-label">Votre passphrase mnémonique</div>
    <div class="mnemonic info" ng-bind="mnemonic_encrypted || wallet.mnemonic"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Fermer</button>
</div>