<!doctype html>
<html  toggleable-menu ng-swipe-left="toggle_set(false)" ng-swipe-right="toggle_set(true)" ng-app="greenWalletApp" lang="en"  >
  <head>
    <title>Wallet | GreenAddress.it</title>
    <meta charset="utf-8">
    <meta name="description" content="The safer Bitcoin wallet that puts you in control.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta property="og:image" content="https://localhost../static/img/logos/logo-greenaddress.png" />
    <!--[if IE 7]>
        <script>
            window.location.href = "/wallet/#/browser_unsupported";
        </script>
    <![endif]-->
    <link rel="shortcut icon" href="../static/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="../static/img/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="../static/img/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../static/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../static/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../static/img/favicons/favicon-16x16.png" sizes="16x16">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/favicons/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="../static/img/favicons/mstile-70x70.png">
    <meta name="msapplication-square144x144logo" content="../static/img/favicons/mstile-144x144.png">
    <meta name="msapplication-square150x150logo" content="../static/img/favicons/mstile-150x150.png">
    <meta name="msapplication-square310x310logo" content="../static/img/favicons/mstile-310x310.png">
    <meta name="msapplication-wide310x150logo" content="../static/img/favicons/mstile-310x150.png">
    <link href="../static/css/greenaddress.css" rel="stylesheet">
    
        <script type="text/javascript" src="../static/js/cordova.js"></script>
        <script type="text/javascript" src="../static/js/cdv-plugin-fb-connect.js"></script>
        <script type="text/javascript" src="../static/js/facebook-js-sdk.js"></script> 
        <script type="text/javascript" src="../static/js/common_cordova_handlers.min.js"></script>
        
    
    
    <script src="../static/wallet/config.js"></script>
    <script src="../en/i18n_catalog.js"></script>
    
  <link href="../static/css/dc.min.css" rel="stylesheet">


<script type="text/javascript">FB_APP_ID = '1470897776471523';</script>

<div id="fb-root"></div>

<script src="../static/js/typedarray.js"></script>  <!-- for android 4.1 -->
<script src="../static/js/plugins/com.cordova.plugin.softkeyboard/www/softkeyboard.js"></script>
<script type="text/javascript" src="../static/js/script.min.js"></script>
<script type="text/javascript" src="../static/js/autobahn.min.js"></script>
<script type="text/javascript" src="../static/js/angular/raf-polyfill.js"></script>
<script type="text/javascript" src="../static/js/angular/angular.min.js"></script>
<script type="text/javascript" src="../static/js/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="../static/js/angular/angular-route.min.js"></script>
<script type="text/javascript" src="../static/js/angular/angular-touch.min.js"></script>
<script type="text/javascript" src="../static/js/angular/qrcode.js"></script>
<script type="text/javascript" src="../static/js/angular/angular-qr.min.js"></script>
<script type="text/javascript" src="../static/js/angular/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script type="text/javascript" src="../static/js/sha512.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/signuplogin/controllers.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/info/controllers.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/receive/controllers.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/send/controllers.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/settings/directives.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/settings/controllers.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/transactions/controllers.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/controllers.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/directives.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/services.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/app.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/mnemonics/services.js"></script>
<script type="text/javascript" src="../static/js/greenwallet/apps/wallet.js"></script>
<script type="text/javascript" src="../static/js/bitcoinjs.min.js"></script>
<script type="text/javascript" src="../static/js/bitcoinjs_util.js"></script>
<script type="text/javascript" src="../static/js/d3.min.js"></script>
<script type="text/javascript" src="../static/js/crossfilter.min.js"></script>
<script type="text/javascript" src="../static/js/dc.min.js"></script>
<script type="text/javascript" src="../static/js/gettext.js"></script>

  <script src="../static/js/nfc.min.js"></script>


    <script type="text/javascript">
      BASE_URL = '..';
      LANG = 'en';</script>
    
    
    
    <script type="text/javascript" src="../electrum.js"></script>
  </head>
  <body id="wallet">
    
    <div id="content">
      
<!-- angular-ui template overrides to disable animations -->
<script id="template/modal/backdrop.html" type="text/ng-template">
  <div class="modal-backdrop fade in "
       ng-style="{'z-index': 1040 + (index && 1 || 0) + index*10}"
  ></div>
</script>
<script id="template/modal/window.html" type="text/ng-template">
  <div tabindex="-1" role="dialog" class="modal fade in (( windowClass ))" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
      <div class="modal-dialog" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}"><div class="modal-content" ng-transclude></div></div>
  </div>
</script>

<div ng-controller="WalletController" id="content_container">
  <div ng-show="(wallet.hdwallet.pub || wallet.trezor_dev) && !wallet.hidden && is_loading" ng-cloak>
    
  </div>
  <div ng-repeat="notice in notices" class="notice notice-((notice.type))" ng-cloak>
    <i class="glyphicon glyphicon-exclamation-sign" ng-show="notice.type == 'error'"></i>
    <i class="glyphicon glyphicon-ok-sign" ng-show="notice.type == 'success'"></i>
    <i class="glyphicon glyphicon-info-sign" ng-show="notice.type == 'info'"></i>
    ((notice.msg))
  </div>
  <div class="menu-mobile" toggle-class="visible">
    <i class="menu-mobile-toggle menu-mobile-toggle-open glyphicon glyphicon-align-justify" toggle-class="visible" ng-click="toggle_set(true)"></i>
    <i class="menu-mobile-toggle menu-mobile-toggle-close glyphicon glyphicon-remove" toggle-class="visible" ng-click="toggle_set(false)"></i>
    <small>(( subpage_title ))</small> <small ng-click="wallet.toggle_balance_title()" ng-show="!wallet.show_fiat && wallet.final_balance" ng-cloak >((wallet.final_balance|format_btc:wallet.unit)) </small> <small ng-show="wallet.show_fiat && wallet.fiat_value" ng-click="wallet.toggle_balance_title()" ng-cloak >((wallet.fiat_value|number:2)) ((wallet.fiat_currency)) </small> 

  </div>
  <div class="container" toggle-class="visible"><div class="ng-view"></div></div>
  <div class="menu" toggle-class="visible">
  <ul>
    <li class="menu-header"><img src="../static/img/logos/logo-greenaddress-white.png" alt="GreenAddress.it" /> GreenAddress.it</li>
    <li path="/info"><a href="#/info">Balance</a></li>
    <li path="/transactions"><a href="#/transactions">Transactions</a></li>
    <li ng-show="wallet.hdwallet.priv || wallet.trezor_dev" path="/send"><a href="#/send">Send Money</a></li>
    <li path="/receive"><a href="#/receive">Receive Money</a></li>
    <li path="/address-book"><a href="#/address-book">Address Book</a></li>
    <li ng-show="wallet.hdwallet.priv || wallet.trezor_dev" path="/settings" class="menu-settings"><a href="#/settings">Settings</a></li>
    <li><a href="" ng-click="update_now()" ng-show="update_available">Update now</a></li>
    <li><a href="" ng-click="logout()">Logout</a></li>
    <li class="menu-balance visible-xs"><i class="glyphicon glyphicon-stats"></i> ((wallet.final_balance|format_btc:wallet.unit)) <br><i class="glyphicon glyphicon-stats"></i> ((wallet.fiat_value|number:2)) ((wallet.fiat_currency))</li>
    <li class="menu-balance visible-sm"><i class="glyphicon glyphicon-stats"></i> ((wallet.final_balance|format_btc:wallet.unit)) <br><i class="glyphicon glyphicon-stats"></i> ((wallet.fiat_value|number:2)) ((wallet.fiat_currency))</li>
  </ul>
  <div class="menu-footer">
    
    <div ng-show="wallet.last_login">
      Last login:
      ((wallet.last_login.at))
      from ((wallet.last_login.ip))
      <span ng-show="wallet.last_login.country">(country: ((wallet.last_login.country)))</span>
      <span ng-hide="wallet.last_login.country">(unknown country)</span>
    </div>
    <div><b>Copyright &copy; GreenAddress.it 2014</b></div>
  </div>
</div>
</div>

    </div>
    
  </body>
</html>