<div class="title">
  Ha recibido ((wallet.redeem_amount|format_btc:'mBTC'))!
  <p>(( wallet.redeem_message ))</p>
  <hr class="double">
  <small style="font-size:50%;">
  	<p ng-show="wallet.redeem_is_bip38">Usted puede redimirlo usando cualquier wallet compatible con BIP38 usando la contraseña dada a usted por el emisor y la siguiente clave:  (( wallet.redeem_key )).</p>
  	<p ng-hide="wallet.redeem_is_bip38">Usted puede redimirlo usando cualquier wallet compatible con WIF usando la siguiente clave:  (( wallet.redeem_key )).</p>
    <p>Si usted no tiene una wallet GreenAddress, puede crear una para redimir el pago <a class="btn btn-warning" href="/wallet/#/create/">Crear una Wallet</a></p>
    <p>De lo contrario, si eres un usuario de GreenAddress.it por favor inicia sesión usando el formulario de abajo</p>
  </small>
</div>