<div submittable>

    <div class="modal-body">
        <p class="text-center" ng-show="!encrypting_voucher">Por favor proporcione una contraseña para encriptar su indicio de clave</p>
        <p class="text-center" ng-show="encrypting_voucher">Por favor proporcione una contraseña para encriptar el cupón</p>
        <p class="label-warning" ng-show="encrypting_voucher">Si usted usa una contraseña diferente a la usada cuando se creó el cupón, el mensaje de texto claro del cupón (si hay alguno) no será mostrado en la URL del cupón.</p>
        <hr>
        <form ng-submit="encrypt_password_modal.encrypt()" name="form" class="form-horizontal">
            <div class="form-group" ng-class="{'has-error': encrypt_password_modal.error}">
                <label for="passwordId" class="col-sm-5 control-label">Contraseña</label>
                <div class="col-sm-4">
                    <input clickfix class="form-control" focus-on="encryptPasswordModal" type="password"
                           ng-model="encrypt_password_modal.password" id="passwordId"
                           ng-disabled="encrypt_password_modal.encrypting" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': encrypt_password_modal.error}">
                <label for="passwordRepeatedId" class="col-sm-5 control-label">Repetir contraseña</label>
                <div class="col-sm-4">
                    <input clickfix class="form-control" type="password"
                           ng-model="encrypt_password_modal.password_repeated" id="passwordRepeatedId"
                           ng-disabled="encrypt_password_modal.encrypting" />
                    <input type="submit" class="hide" submitter ng-disabled="encrypt_password_modal.encrypting" />
                    <div class="help-block" ng-show="encrypt_password_modal.error"><i class="glyphicon glyphicon-info-sign"></i> (( encrypt_password_modal.error ))</div>
                    <div class="help-block" ng-show="encrypt_password_modal.encrypting"><i class="glyphicon glyphicon-info-sign"></i> Por favor espere, encriptando...</div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()" ng-disabled="encrypt_password_modal.encrypting">Cancelar</button>
            <button class="btn btn-primary" ng-click="submit_me()" ng-disabled="encrypt_password_modal.encrypting">Encriptar</button>
        </div>
    </div>

</div>