<?xml version='1.0' encoding='utf-8'?>
<widget id="it.greenaddress.cordova" version="0.0.72" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GreenAddress</name>
    <description>
        GreenAddress Mobile Wallet
    </description>
    <preference name="loglevel" value="INFO" />
    <author email="info@greenaddress.it" href="https://greenaddress.it">
        GreenAddress IT Ltd
    </author>
    <content src="greenaddress.it/en/wallet.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="errorUrl" value="file:///android_asset/www/offline.html" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="StatusBarOverlaysWebview" value="false" />
    <preference name="StatusBarBackgroundColor" value="#69b16e" />
    <platform name="android">
        <splash density="land-hdpi" src="res/android/drawable-hdpi/splash_land.9.png" />
        <splash density="land-mdpi" src="res/android/drawable-mdpi/splash_land.9.png" />
        <splash density="land-xhdpi" src="res/android/drawable-xhdpi/splash_land.9.png" />
        <splash density="port-hdpi" src="res/android/drawable-hdpi/splash_land.9.png" />
        <splash density="port-mdpi" src="res/android/drawable-mdpi/splash_land.9.png" />
        <splash density="port-xhdpi" src="res/android/drawable-xhdpi/splash_land.9.png" />
        <icon density="ldpi" src="res/android/drawable-ldpi/icon.png" />
        <icon density="hdpi" src="res/android/drawable-hdpi/icon.png" />
        <icon density="mdpi" src="res/android/drawable-mdpi/icon.png" />
        <icon density="xhdpi" src="res/android/drawable-xhdpi/icon.png" />
    </platform>
    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />

        <splash src="res/ios/splash/Default.png" width="768" height="1004"/>
        <splash src="res/ios/splash/Default~iphone.png" width="320" height="480"/>
        <splash src="res/ios/splash/Default~ipad.png" width="1536" height="2008"/>
        <splash src="res/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/ios/splash/Default-Portrait@2x~ipad_1536x2008.png" width="1536" height="2008"/>
        <splash src="res/ios/splash/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/ios/splash/Default-Landscape~ipad_1024x748.png" width="1024" height="748"/>
        <splash src="res/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/ios/splash/Default-Landscape@2x~ipad_2048x1496.png" width="2048" height="1496"/>
        <splash src="res/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/ios/splash/Default-750@2x~iphone6-landscape.png" width="1334" height="750"/>
        <splash src="res/ios/splash/Default-750@2x~iphone6-portrait.png" width="750" height="1335"/>
        <splash src="res/ios/splash/Default-1242@3x~iphone6s-landscape.png" width="2208" height="1242"/>
        <splash src="res/ios/splash/Default-1242@3x~iphone6s-portrait.png" width="1242" height="2208"/>

     </platform>
    <plugin name="cordova-plugin-file" spec="https://github.com/apache/cordova-plugin-file.git" />
    <plugin name="cordova-plugin-media" spec="https://github.com/apache/cordova-plugin-media.git" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~2.1.0" />
    <plugin name="phonegap-nfc" />
    <plugin name="phonegap-plugin-barcodescanner" />
    <plugin name="cordova-plugin-app-preferences" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-vibration" />
    <plugin name="it.greenaddress.cordova" spec="plugins/it.greenaddress.cordova" />
    <engine name="android" spec="~5.0.0" />
    <engine name="ios" spec="~4.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.0.0" />
</widget>
