<?xml version='1.0' encoding='utf-8'?>
<widget id="it.greenaddress.cordova" version="0.0.78" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GreenAddress</name>
    <description>
        GreenAddress Mobile Wallet
    </description>
    <preference name="loglevel" value="INFO" />
    <author email="info@greenaddress.it" href="https://greenaddress.it">
        GreenAddress IT Ltd
    </author>
    <content src="start.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="errorUrl" value="file:///android_asset/www/offline.html" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="StatusBarOverlaysWebview" value="false" />
    <preference name="StatusBarBackgroundColor" value="#69b16e" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <platform name="android">
        <splash density="land-hdpi" src="res/android/drawable-hdpi/splash_land.9.png" />
        <splash density="land-mdpi" src="res/android/drawable-mdpi/splash_land.9.png" />
        <splash density="land-xhdpi" src="res/android/drawable-xhdpi/splash_land.9.png" />
        <splash density="port-hdpi" src="res/android/drawable-hdpi/splash_land.9.png" />
        <splash density="port-mdpi" src="res/android/drawable-mdpi/splash_land.9.png" />
        <splash density="port-xhdpi" src="res/android/drawable-xhdpi/splash_land.9.png" />
        <icon density="ldpi" src="res/android/drawable-ldpi/icon.png" />
        <icon density="hdpi" src="res/android/drawable-hdpi/icon.png" />
        <icon density="mdpi" src="res/android/drawable-mdpi/icon.png" />
        <icon density="xhdpi" src="res/android/drawable-xhdpi/icon.png" />
    </platform>
    <platform name="ios">
        <preference name="Orientation" value="all" />
        <preference name="BackupWebStorage" value="none" />
        <icon height="180" src="res/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/ios/icon-60.png" width="60" />
        <icon height="120" src="res/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/ios/icon-76.png" width="76" />
        <icon height="152" src="res/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/ios/icon-40.png" width="40" />
        <icon height="80" src="res/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="res/ios/icon.png" width="57" />
        <icon height="114" src="res/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/ios/icon-72.png" width="72" />
        <icon height="144" src="res/ios/icon-72@2x.png" width="144" />
        <icon height="29" src="res/ios/icon-small.png" width="29" />
        <icon height="58" src="res/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/ios/icon-small@3x.png" width="87" />
        <icon height="50" src="res/ios/icon-50.png" width="50" />
        <icon height="100" src="res/ios/icon-50@2x.png" width="100" />
        <splash height="1004" src="res/ios/splash/Default.png" width="768" />
        <splash height="480" src="res/ios/splash/Default~iphone.png" width="320" />
        <splash height="2008" src="res/ios/splash/Default~ipad.png" width="1536" />
        <splash height="960" src="res/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="res/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="res/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="2008" src="res/ios/splash/Default-Portrait@2x~ipad_1536x2008.png" width="1536" />
        <splash height="2208" src="res/ios/splash/Default-Portrait-736h.png" width="1242" />
        <splash height="768" src="res/ios/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="748" src="res/ios/splash/Default-Landscape~ipad_1024x748.png" width="1024" />
        <splash height="1536" src="res/ios/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1496" src="res/ios/splash/Default-Landscape@2x~ipad_2048x1496.png" width="2048" />
        <splash height="1242" src="res/ios/splash/Default-Landscape-736h.png" width="2208" />
        <splash height="1136" src="res/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="750" src="res/ios/splash/Default-750@2x~iphone6-landscape.png" width="1334" />
        <splash height="1334" src="res/ios/splash/Default-750@2x~iphone6-portrait.png" width="750" />
        <splash height="1242" src="res/ios/splash/Default-1242@3x~iphone6s-landscape.png" width="2048" />
        <splash height="2048" src="res/ios/splash/Default-1242@3x~iphone6s-portrait.png" width="1242" />
    </platform>
    <engine name="android" spec="~5.1.0" />
    <engine name="ios" spec="~4.0.1" />
    <plugin name="com.ququplay.websocket.WebSocket" spec="plugins-src/com.ququplay.websocket.WebSocket" />
    <plugin name="cordova-plugin-file" spec="https://github.com/apache/cordova-plugin-file.git#4.0.0" />
    <plugin name="cordova-plugin-media" spec="https://github.com/apache/cordova-plugin-media.git#2.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="plugins-src/cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-whitelist" spec="1.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="2.1.0" />
    <plugin name="phonegap-nfc" spec="0.6.6" />
    <plugin name="cordova-plugin-app-preferences" spec="plugins-src/cordova-plugin-app-preferences" />
    <plugin name="cordova-plugin-dialogs" spec="1.1.1" />
    <plugin name="cordova-plugin-network-information" spec="1.0.1" />
    <plugin name="cordova-plugin-vibration" spec="1.2.0" />
    <plugin name="cordova-plugin-statusbar" spec="2.0.0" />
    <plugin name="cordova-plugin-app-version" spec="0.1.8" />
    <plugin name="com.phonegap.plugins.barcodescanner" spec="plugins-src/com.phonegap.plugins.barcodescanner" />
    <plugin name="it.greenaddress.cordova" spec="plugins-src/it.greenaddress.cordova" />
</widget>
