<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Sie sind abgemeldet.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
                  Sie sind anderswo angemeldet.<br>          <small>Falls das nicht Sie waren, kontaktieren Sie <strong>sofort</strong> <a href="/support/">support</a>.</small>
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Zurück zur Anmeldung</a>
      </div>
    </div>
  </div>
</div>