<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Schritt 2 von 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 50%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Machen Sie keine Kompromisse bezüglich der Sicherheit<br><small>Zwei-Faktor-Authentifikation einrichten</small></div>
                <div ng-if="signup.logged_in" ng-controller="TwoFactorSetupController" ng-include="'../de/wallet/partials/wallet_2fa.html'"></div>
                <div ng-hide="signup.logged_in" style="text-align: center">Please wait while we log you into your new wallet...</div>
                <hr class="double">
                <p>We require you to set up two factor authentication, this will make your wallet much more secure and will let you some additional features such as Spending Limits and Delayed Payments.</p>
                <p>To issue a transaction you will not only need to login to your wallet but also confirm it with a code sent to you via email, SMS or google authenticator as per your choice.</p>
            </div>

            <div class="create-modal-footer">
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress < 100">
                    Erzeuge Ihre Brieftaschenschlüssel, bitte warten. ... (( signup.seed_progress ))%
                </span>
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress == 100 && !signup.logged_in && !signup.login_failed">
                    Bitte warten, melde an...
                </span>
                <a ng-hide="signup.noLocalStorage || signup.has_btchip" href="#/signup_pin#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.twofac_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed || !wallet.twofac.any}">
                    Weiter!
                </a>
                <a ng-show="signup.noLocalStorage || signup.has_btchip" href="#/signup_oauth#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.twofac_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed || !wallet.twofac.any}">
                    Weiter!
                </a>
            </div>

        </div>
    </div>
</div>