<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Schritt <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span> von <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Custom login<br><small>Zugriff auf Ihre Brieftasche im Nur-Schauen-Modus erlauben</small></div>
                <hr>
                <div class="text-center">
                <button ng-click="signup.customlogin()" class="btn btn-default" ng-class="{'btn-sync':signup.customloginstate.synchronized}" ng-disabled="signup.customloginstate.synchronized"><i class="glyphicon glyphicon-lock"></i> Manuelles Anmelden</button>
                </div>
                <hr>
                <p>Wenn Sie wollen können Sie auf Ihre Brieftasche über einfaches Anmelden im Nur-Schauen-Modus zugreifen. Wenn Sie sich so anmelden können Sie auf einen komplett separaten "Bereich" Ihrer Brieftasche zugreifen, der auf keinerlei Weise kompromittiert werden kann und in dem keine Zahlungen durchgeführt werden können</p>
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/receive#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.social_in_progres}">
                    <span ng-hide="signup.social_in_progress">Zu meiner Brieftasche!</span>
                    <span ng-show="signup.social_in_progress">Bearbeite...</span>
                </a>
            </div>

        </div>
    </div>
</div>