<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            <div class="create-modal-header">
                <span class="pull-left">Sie haben bereits ein Konto?
                    
                    <a href="/wallet">Anmelden für Ihre Brieftasche</a></span>
                    
                Schritt 1 von 4
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%"></div>
                </div>
            </div>

            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">Sie sind nun der stolze Besitzer einer Bitcoin-Brieftasche<br>
                    <small>Bitte führen Sie diese Einrichtung in vier Schritten aus, um Ihr Konto vollständig gegen fremden Zugriff zu schützen</small>
                </div>
                <hr>
                <div class="mnemonic-label ng-cloak" ng-show="signup.mnemonic">Ihre mnemonische Passphrase</div>
                <div class="mnemonic info ng-cloak" ng-bind="signup.mnemonic" ng-show="signup.mnemonic"></div>
                <div class="mnemonic info" ng-hide="signup.mnemonic">Generating mnemonic, please wait...</div>
                <hr>
                <p>Bitte schreiben Sie diese Worte auf und bewahren Sie die an einem sicheren Ort auf da sie nicht wiederhergestellt werden können. <b>Wir speichern die obige Information nirgendwo, wir können Ihnen nicht helfen sie wieder herzustellen!</b></p>
            </div>

            <div class="create-modal-footer" ng-hide="signup.unexpected_error">
                <label for="checkbox-confirmation">
                    <input type="checkbox" ng-model="signup.secured_confirmed" id="checkbox-confirmation"> Ich bestätige, dass meine passphrase gespeichert und gesichert ist und ich akzeptiere die <a href="/tos" target="_blank">Allgemeine Geschäftsbedingungen</a>
                </label>
                <br>
                <button class="btn btn-default btn-block-xs" ng-click="signup.qrmodal()" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-qrcode"></i> Zeige QR Code</button>
                
                <button class="btn btn-default btn-block-xs" ng-click="signup.nfcmodal()" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-transfer"></i> Schreibe in NFC Tag</button>
                
                <a ng-hide="signup.noLocalStorage" class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.mnemonic||!signup.secured_confirmed}" href="#/signup_pin#content_container">Weiter!</a>
                <a ng-show="signup.noLocalStorage" class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.mnemonic||!signup.secured_confirmed}" href="#/signup_oauth#content_container">Weiter!</a>
            </div>

            <div class="create-modal-footer" ng-show="signup.unexpected_error">
                <a class="btn btn-danger login-submit" href="" ng-click="signup.try_again()">
                    Error:  (( signup.unexpected_error )).  Click to try again
                </a>
            </button>
            </div>

        </div>
    </div>
</div>


<div class="printable">
    <h1><img src="/static/img/logos/logo-greenaddress.png" alt="GreenAddres.it"> GreenAddress.it<br><small>https://greenaddress.it</small></h1>
    <p>Die Passphrase für den Zugriff auf Ihre Brieftasche ist:</p>
    <div class="mnemonic noanimate">(( signup.mnemonic ))</div>
    <qr ng-if="signup.mnemonic" class="qrcode" text="(( signup.mnemonic ))" size="212"></qr>
    <p><i class="glyphicon glyphicon-exclamation-sign"></i> <i>Lagern Sie diese Seite an einem sicheren Ort</i></p>
</div>