<div class="modal-header">
    Transaktionsdetails
</div>

<div class="modal-body">
    <dl>
        <dt>Zeitstempel</dt>
        <dd>(( selected_transaction.ts ))</dd>

        <dt>Hash</dt>
        <dd>(( selected_transaction.txhash ))</dd>
        
        <dt>Gebühr</dt>
        <dd>(( selected_transaction.fee | format_btc:wallet.unit ))</dd>

        <dt ng-show="selected_transaction.double_spent_by">Raw transaction</dt>
        <dd ng-show="selected_transaction.double_spent_by">(( selected_transaction.rawtx ))</dd>

        <dt ng-show="selected_transaction.double_spent_by">Double spend by txhash</dt>
        <dd ng-show="selected_transaction.double_spent_by">(( selected_transaction.double_spent_by ))</dd>

        <dt ng-show="selected_transaction.payment_request">Payment request</dt>
        <dd ng-show="selected_transaction.payment_request">
            <a ng-href="(( selected_transaction.payment_request ))" download="(( selected_transaction.txhash )).paymentrequest">download</a>
        </dd>
    </dl>

    <hr class="double">

    <p style="font-size:140%;"><b>Eingänge</b></p>

    <table class="table">
        <tr><th>Adresse</th><th>Betrag</th></tr>
        <tr ng-repeat="input in selected_transaction.inputs">
            <td>(( input.ad ))</td>
            <td>(( input.value | format_btc:wallet.unit ))</td>
        </tr>
    </table>

    <hr class="double">

    <p style="font-size:140%;"><b>Ausgänge</b></p>

    <table class="table">
        <tr><th>Adresse</th><th>Betrag</th></tr>
        <tr ng-repeat="output in selected_transaction.outputs">
            <td>(( output.ad ))</td>
            <td>(( output.value | format_btc:wallet.unit ))</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <div class="">
        <button class="btn btn-primary" ng-click="$dismiss()">Schließen</button>
    </div>
</div>