<div submittable>

    <div class="modal-body">
        <p class="text-center">Bitte senden Sie die Facebook-Nachricht.</p>
        <hr>
        <p><a class="btn btn-huge btn-facebook center-block" ng-click="send_fb_via_fb()"><i class="icon-facebook"></i> Senden</a></p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Abbruch - Transaktion stornieren</button>
            <button class="btn btn-primary" ng-click="$close()" ng-disabled="!send_fb_via_fb_clicked">Ich habe die Nachricht versandt</button>
        </div>
    </div>

</div>