<div submittable>

    <div class="modal-body">
        <p class="text-center">Sie können eine vierstellige persönliche Identifikationsnummer erstellen um das Passwort wiederherzustellen, mit dem die mnemonische Passphrase verschlüsselt wurde.</p>
        <hr>
        <form ng-submit="set_pin(form.$valid)" name="form" class="form-horizontal">
            <div class="form-group" ng-class="{'has-error': state.error && form.$invalid}">
                <label for="pinId" class="col-sm-5 control-label">Geben Sie Ihre PIN ein</label>
                <div class="col-sm-4">
                    <input clickfix focus-on="usePinModal" type="tel" mask-input class="form-control pin" required="required"
                           name="pin" maxlength="4" pattern="[0-9]{4}" ng-pattern="/[0-9]{4}/"
                           ng-model="state.new_pin_value" />
                    <input type="submit" class="hide" submitter />
                    <div class="help-block"><i class="glyphicon glyphicon-info-sign"></i> PIN muss eine vierstellige Zahl sein</div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Abbrechen</button>
            <button class="btn btn-primary" ng-click="submit_me()">PIN Nummer bestätigen</button>
        </div>
    </div>

</div>