<div submittable>
    <div class="modal-body">
        <p class="text-center">
            Please enter a valid PGP public key into the box below.
        </p>
        <hr>
        <form ng-submit="savePGP(form.$valid)" name="form" class="form-horizontal">
            <textarea
                class="form-control"
                style="min-width: 100%"
                rows="18"
                placeholder="----BEGIN PGP PUBLIC KEY..."
                ng-model="pgpstate.pgp"
                id="wallet-emailpgp"
                ng-disabled="pgpstate.enabled"
                ng-trim="false" >
            </textarea>
            <input
                type="submit"
                class="hide"
                submitter />
        </form>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Abbrechen</button>
            <button class="btn btn-primary" ng-click="submit_me()"
                ng-disabled="pgpstate.enabled"
                ng-show="pgpstate.pgp && ! wallet.appearance.pgp"
                >Add PGP Public Key</button>
            <button class="btn btn-primary" ng-click="submit_me()"
                ng-disabled="pgpstate.enabled"
                ng-show="pgpstate.pgp && wallet.appearance.pgp && pgpstate.pgp != wallet.appearance.pgp"
                >Change PGP Public Key</button>
            <button class="btn btn-primary" ng-click="submit_me()"
                ng-disabled="pgpstate.enabled"
                ng-show="! pgpstate.pgp && wallet.appearance.pgp "
                >Remove PGP Public Key</button>
        </div>
    </div>

</div>