<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Du loggades ut.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
                  Du har loggat in annanstans.<br>          <small>Om det inte var du, kontakta <strong>omedelbart</strong> <a href="/support/">supporten</a>.</small>        
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Tillbaka till inloggning</a>
      </div>
    </div>
  </div>
</div>