<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Steg 4 av 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Kompromissa inte på säkerhet<br><small>Ställ in tvåfaktorsautensiering</small></div>
                <div ng-controller="TwoFactorSetupController" ng-include="'file:///android_asset/www/greenaddress.it/sv/wallet/partials/wallet_2fa.html'"></div>
                <hr class="double">
                <p>Vi rekommenderar starkt att du ställer in tvåfaktorsautensiering, då detta gör din plånbok betydligt säkrare och möjliggör ytterligare funktioner som spenderingsbegränsningar och fördröjda betalningar.</p>
                <p>Om du har ställt in det att utfärda en transaktion så kommer du inte enbart behöva logga in utan också bekräfta med en kod skickad via email, SMS eller Google Authenticator enligt ditt val.</p>
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/info#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.twofac_in_progress}">
                    Ta mig till min plånbok!
                </a>
            </div>

        </div>
    </div>
</div>