<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Steg <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span> av <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Custom login<br><small>Godkänn åtkomst till din plånbok i övervakningsläge</small></div>
                <hr>
                <div class="text-center">
                <button ng-click="signup.customlogin()" class="btn btn-default" ng-class="{'btn-sync':signup.customloginstate.synchronized}" ng-disabled="signup.customloginstate.synchronized"><i class="glyphicon glyphicon-lock"></i> Anpassad inloggning</button>
                </div>
                <hr>
                <p>Om du vill kan du komma åt din plånbok i övervakningsläge med enkel inloggning. När du loggar in på detta sätt så kan du komma åt en separat "avdelning" av din plånbok, den kan inte hackas och betalningar kan inte utföras</p>
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/receive#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.social_in_progres}">
                    <span ng-hide="signup.social_in_progress">Ta mig till min plånbok!</span>
                    <span ng-show="signup.social_in_progress">Bearbetar...</span>
                </a>
            </div>

        </div>
    </div>
</div>