<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Ви вийшли з системи.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
                  ви зайшли в систему з іншого пристрою.<br><small>Якщо це не ви, <strong>негайно</strong> зверніться в<a href="/support/"> підтримку</a>.</small>        
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Вернутись назад до сторінку входу</a>
      </div>
    </div>
  </div>
</div>