<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Крок 4 із 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Не йдіть на компроміс з безпекою<br><small>Налаштувати двох-факторну аутентифікацію</small></div>
                <div ng-controller="TwoFactorSetupController" ng-include="'file:///android_asset/www/greenaddress.it/uk/wallet/partials/wallet_2fa.html'"></div>
                <hr class="double">
                <p>Ми настійно рекомендуємо вам встановити двох-факторну аутентифікацію, це зробить ваш гаманець набагато більш безпечним і дозволить Вам деякі додаткові функції, такі як ліміт витрат та платежів із відстрочкою.</p>
                <p>Якщо ви встановите її, то для здійснення транзакції Вам потрібно не лише відкрити гаманець, а підтвердити транзакцію ввівши код, висланий Вам на email, SMS чи Google Authenticator на ваш вибір.</p>
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/info#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.twofac_in_progress}">
                    Перейти до гаманця!
                </a>
            </div>

        </div>
    </div>
</div>