<div>

    <div class="modal-body">
    	<p class="text-center">This email is already used by a different account. Do you want to unlink it from that account?</p>
        <p class="text-center"><strong>Warning</strong>: This can disable two factor authentication if you have no other 2FA method set up in that account.</p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Відмінити</button>
            <button class="btn btn-primary" ng-click="$close()">ОК</button>
        </div>
    </div>

</div>