<div>

    <div class="modal-body">
    	<p class="text-center">No Electrum servers are reachable. They are used to verify that our servers don't attempt misleading your client into spending wrong amount of money.</p>
        <p class="text-center">Do you want to continue sending the transaction without Electrum network verification?</p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Відмінити</button>
            <button class="btn btn-primary" ng-click="$close()">Продовжити</button>
        </div>
    </div>

</div>