<div class="modal-body text-center">
    <p ng-hide="mnemonic_2of3">The QR code containing the passphrase to access your wallet is:</p>
    <p ng-show="mnemonic_2of3">The QR code containing the passphrase for recovery access to your subaccount is:</p>
    <p><qr text="(( mnemonic_2of3 || mnemonic_encrypted || wallet.mnemonic ))" size="212"></qr></p>
    <p ng-show="mnemonic_encrypted">This passphrase is encrypted, so your encryption password is required to use it.</p>
    <p><b><i class="glyphicon glyphicon-exclamation-sign"></i> Зберігайте його в надійному місці!</b></p>
    <p style="word-break: normal" show="mnemonic_2of3"><b><i class="glyphicon glyphicon-exclamation-sign"></i> The subaccount mnemonic is not stored anywhere neither by GreenAddress, nor by your browser, so you *HAVE* to back it up to have a recovery access to your 2of3 subaccount.</b></p>

    <div class="mnemonic-label">Ваша мнемонічна фраза-пароль</div>
    <div style="word-break: normal" class="mnemonic info" ng-bind="mnemonic_encrypted || wallet.mnemonic"></div>

    <div ng-show="mnemonic_2of3" class="mnemonic-label"><br/>Your subaccount recovery mnemonic passphrase</div>
    <div ng-show="mnemonic_2of3" style="word-break: normal" class="mnemonic info" ng-bind="mnemonic_2of3"></div>

    <div ng-show="mnemonic_2of3" class="mnemonic-label"><br/>Your subaccount GreenAddress xpub</div>
    <div ng-show="mnemonic_2of3" class="mnemonic info" ng-bind="xpub_2of3"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Закрити</button>
</div>