<div class="modal-body text-center">
    <p>QR-код, що містить фразу-пароль для доступу до вашого гаманця:</p>
    <p><qr text="(( mnemonic_encrypted || wallet.mnemonic ))" size="212"></qr></p>
    <p ng-show="mnemonic_encrypted">This passphrase is encrypted, so your encryption password is required to use it.</p>
    <p><b><i class="glyphicon glyphicon-exclamation-sign"></i> Зберігайте його в надійному місці!</b></p>

    <div class="mnemonic-label">Ваша мнемонічна фраза-пароль</div>
    <div class="mnemonic info" ng-bind="mnemonic_encrypted || wallet.mnemonic"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Закрити</button>
</div>