<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Αποσυνδεθήκατε.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
                  Έχετε συνδεθεί αλλού.<br><small>Αν δεν είσασταν εσείες, παρακαλούμε επικοινωνήστε <strong>αμέσως</strong> <a href="/support/"> με την υποστήριξη</a>.</small>        
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Πηγαίνετε πίσω για να συνδεθείτε</a>
      </div>
    </div>
  </div>
</div>