  <div class="row">
  <div class="col-md-12">
    <div class="header">
      General Settings
    </div>
  </div>
</div>
<div class="row currencies" ng-show="settings.pricing_sources">
  <div class="col-md-3">
    <div class="sub-header">Συνάλλαγμα</div>
    <div class="sub-header-desc">Επιλέξτε το συναλλαγμα σας και την πηγή τιμολόγησης.</div>
  </div>
  <div class="col-md-9">
    <form role="form" class="form-inline">
      <div class="form-group">
        <label class="control-label">Πηγή Τιμολόγησης για χρήση</label>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <select ng-model="settings.pricing_source"
              ng-options="(source.currency+'|'+source.exchange) as (source.currency+' ('+exchanges[source.exchange]+')') for source in settings.pricing_sources"
              ng-disabled="settings.updating_pricing_source">
          </select>
        </div>
      </div>
    </form>
    <hr>
    <form role="form" class="form-inline">
      <div class="form-group">
        <label class="control-label">Εμφάνιση ποσών σε</label>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <button ng-repeat="unit in settings.available_units" type="button" class="btn btn-xs" ng-class="{'btn-primary': settings.unit == unit, 'btn-default': settings.unit != unit}" ng-model="settings.unit" btn-radio="unit" ng-disabled="settings.updating_unit">(( unit ))</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr class="double">
<div class="row" ng-controller="SoundController">
  <div class="col-md-3">
    <div class="sub-header">Sound</div>
    <div class="sub-header-desc">Enable or disable sounds</div>
  </div>
  <div class="col-md-9" submittable>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="switch col-sm-3">
                <input type="checkbox" class="switch" ng-model="wallet.appearance.sound"/>
                <span class="switch"></span>
                Enable sounds
            </label>
        </div>
    </form>
  </div>
</div>
<hr class="double">
<div class="row" ng-controller="VibrationController">
  <div class="col-md-3">
    <div class="sub-header">Vibrate</div>
    <div class="sub-header-desc">Enable or disable vibrations on mobile devices</div>
  </div>
  <div class="col-md-9" submittable>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="switch col-sm-3">
                <input type="checkbox" class="switch" ng-model="wallet.appearance.vibrate"/>
                <span class="switch"></span>
                Enable vibrations
            </label>
        </div>
    </form>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Language</div>
    <div class="sub-header-desc">Αλλαγή γλώσσας σε</div>
  </div>
  <div class="col-md-9" submittable>
      <form role="form" class="form-inline">
        <div class="form-group">
          <select ng-model="settings.language">
            <option value="de">Deutsch</option>
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="fr">Français</option>
            <option value="el">ελληνικά</option>
            <option value="it">Italiano</option>
            <option value="nl">Nederlands</option>
            <option value="pl">Polski</option>
            <option value="sv">Svenska</option>
            <option value="uk">Українська</option>
            <option value="ru">Pусский</option>
          </select>
        </div>
      </form>
  </div>
</div>

<hr class="double">
<div class="header">
  Security
</div>
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Email</div>
    <div class="sub-header-desc">Set your email address for transactions notifications, two factor authentication, and nLockTime transactions.</div>
  </div>
  <div class="col-md-9">
      <form ng-submit="set_new_email()" class="form-horizontal" role="form">
        <div class="form-group">
          <label ng-show="wallet.twofac.email_addr" class="control-label col-sm-3">Change email address</label>
          <label ng-hide="wallet.twofac.email_addr" class="control-label col-sm-3">Set email address</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" placeholder="Your email adddress" ng-model="settings.new_email" ng-disabled="settings.setting_email">
            <input type="submit" class="btn btn-primary" ng-show="settings.new_email != wallet.twofac.email_addr" value="Save" ng-disabled="settings.setting_email" />
          </div>
        </div>
      </form>
      <div ng-show="wallet.twofac.email_addr && !wallet.twofac.email_confirmed" class="col-sm-9">
          <p>You need to provide confirmation code from your email to allow using it.<br>              Please check your email and provide the code.
          </p>
          <form ng-submit="confirm_email()" class="form-horizontal" role="form">
            <label class="col-sm-4 control-label" for="wallet-sms-conf-code">Κωδικός Email</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <input ng-model="settings.email_confirmation_code" class="form-control pin" type="tel" mask-input required="required"
                        maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-sms-conf-code"
                        placeholder="Παρακαλούμε εισάγετε το κωδικό που έχετε λάβει" />
                    <span class="input-group-btn" ng-show="settings.email_confirmation_code">
                        <input type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Επιβεβαίωση" />
                    </span>
                </div>
            </div>
          </form>
      </div>
  </div>
</div>
<hr class="double" ng-show="!settings.noLocalStorage">
<div ng-controller="QuickLoginController" class="row" ng-show="!settings.noLocalStorage">
  <div class="col-md-3">
    <div class="sub-header">Γρήγορη σύνδεση</div>
    <div class="sub-header-desc">Ενεργοποιήσετε ένα απλό PIN για γρήγορη πρόσβαση στο πορτοφόλι σας από αυτήν τη συσκευή.</div>
  </div>
  <div class="col-md-9">
    <div ng-show="quicklogin.loaded">
      <form ng-submit="set_new_pin()" class="form-horizontal" role="form">
        <label class="switch">
          <input type="checkbox" class="switch" ng-model="quicklogin.enabled" ng-disabled="quicklogin.started_setting_pin">
          <span class="switch"></span>
            Ενεργοποίηση γρήγορης σύνδεσης σε αυτήν την συσκευή
        </label>
        <hr ng-show="quicklogin.started_setting_pin || quicklogin.enabled">
        <div class="form-group" ng-show="quicklogin.started_setting_pin || quicklogin.enabled">
          <label ng-show="quicklogin.enabled" class="control-label col-sm-3">Αλλαγή αριθμού PIN</label>
          <label ng-hide="quicklogin.enabled" class="control-label col-sm-3">Καθορισμένος αριθμός PIN</label>
          <div class="col-sm-4">
            <input type="tel" inputmode="numeric" class="form-control" placeholder="Τετραψήφιο αριθμός"
                   maxlength="4" pattern="[0-9]{4}" ng-pattern="/[0-9]{4}/" ng-model="quicklogin.new_pin"/>
            <input type="submit" class="btn btn-primary" ng-show="quicklogin.new_pin" value="Επιβεβαίωση" ng-disabled="quicklogin.setting_pin" />
          </div>
        </div>
        <hr>
        <button class="btn btn-danger btn-block-xs" ng-click="remove_all_pin_logins()"><i class="glyphicon glyphicon-remove"></i> Απενεργοποιήσετε τη γρήγορη σύνδεση σε όλες τις συσκευές</button>
        <!-- 
        <div class="form-group">
          <select id="quick-login-select" ng-model="quicklogin.selected_device" ng-options="device.device_name for device in quicklogin.devices"></select>
          <label for="pin" class="col-sm-3 control-label">Ορίστε το PIN</label>
          <div class="col-sm-4">
            <input id="pin" class="form-control" style="width:120px;" placeholder="Αριθμός PIN" type="tel" pattern="[0-9]{4}" ng-pattern="/[0-9]{4}/" maxlength="4" ng-model="quicklogin.new_pin" />
          </div>
          <div class="col-sm-4">
            <a href="" ng-click="remove_pin()" class="noanimate btn btn-danger" ng-class="{disabled: quicklogin.removing_pin}" ng-hide="quicklogin.selected_device.is_current && quicklogin.new_pin">Κατάργηση</a>
            <input type="submit" class="btn btn-primary" ng-show="quicklogin.selected_device.is_current && quicklogin.new_pin" value="Επιβεβαίωση" ng-disabled="quicklogin.setting_pin" />
          </div>
        </div>
        -->
      </form>
    </div>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Συνδέσετε το λογαριασμό σας με λογαριασμό τρίτου</div>
    <div class="sub-header-desc">Επιτρέπει πληρωμές σε κοινωνικά μέσα και σύνδεση με λειτουργία παρακολούθησης-μόνο στο πορτοφόλι σας μέσω το δικό σας λογαριασμό τρίτου.</div>
  </div>
  <div class="col-md-9">
    <form role="form" ng-show="thirdparty.loaded" ng-controller="ThirdPartyController" ng-submit="thirdparty.customstate.save()">
    
      <button ng-disabled="thirdparty.toggling_fb || thirdparty.fbstate.logging_in" class="btn btn-block-xs btn-facebook" ng-click="thirdparty.fbstate.enabled=!thirdparty.fbstate.enabled" ng-hide="cordova_platform=='ios'"><i class="icon-facebook"></i> Facebook</button>
      <label class="switch" ng-hide="cordova_platform=='ios'">
        <input ng-disabled="thirdparty.toggling_fb || thirdparty.fbstate.logging_in" ng-model="thirdparty.fbstate.enabled" type="checkbox" class="switch">
        <span class="switch"></span>
      </label>
      <hr ng-hide="cordova_platform=='ios'">
      
    
      <button class="btn btn-block-xs btn-default" ng-click="thirdparty.customstate.enabled=!thirdparty.customstate.enabled" ng-disabled="thirdparty.toggling_custom"><i class="glyphicon glyphicon-lock"></i> Προσαρμοσμένη σύνδεση</button>
      <label class="switch">
        <input type="checkbox" class="switch" ng-model="thirdparty.customstate.enabled" ng-disabled="thirdparty.toggling_custom">
        <span class="switch"></span>
      </label>
      <div ng-hide="!thirdparty.customstate.enabled && !thirdparty.toggling_custom && !thirdparty.customstate.username">
        <input class="form-control" ng-disabled="thirdparty.toggling_custom && thirdparty.toggling_custom!='initial'" type="text" ng-model="thirdparty.customstate.username" placeholder="Όνομα χρήστη" />
        <input class="form-control" ng-disabled="thirdparty.toggling_custom && thirdparty.toggling_custom!='initial'" type="password" ng-model="thirdparty.customstate.password" placeholder="Κωδικός πρόσβασης" />
        <input type="submit" class="btn btn-sm btn-default" value="(( thirdparty.customstate.save_button_label ))" ng-show="thirdparty.customstate.username && thirdparty.customstate.password" ng-disabled="thirdparty.toggling_custom && thirdparty.toggling_custom!='initial'" ng-click="thirdparty.customstate.save()" />
      </div>
    
      <hr>
      <button class="btn btn-block-xs btn-twitter" disabled><i class="icon-twitter"></i> Twitter <span class="coming-soon">Προσεχώς</span></button>
      <label class="switch">
        <input type="checkbox" class="switch" disabled>
        <span class="switch"></span>
      </label>
    
    </form>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">ΕΙΔΟΠΟΙΗΣΕΙΣ</div>
    <div class="sub-header-desc">Ειδοποιήσεις επιτρέπουν τη βελτίωση της ασφάλειας, όταν ρυθμιστούν για τις εξερχόμενες και πιο ενημερωμένες πληροφορίες, όταν ρυθμιστούν για εισερχόμενες</div>
  </div>
  <div class="col-md-9">
    <form role="form" class="form-inline">
    <div ng-class="{grayedout: !wallet.twofac.email_confirmed}">
      <div class="form-group">
        <label class="control-label">Αποστολή ειδοποίησης για εισερχόμενες συναλλαγές από</label>
      </div>
      <div class="form-group">
        <label class="switch">
          <input type="checkbox" class="switch" ng-model="settings.notifications.email_incoming" ng-disabled="settings.updating_ntf_email_incoming || !wallet.twofac.email_confirmed">
          <span class="switch"></span>
          email
        </label>
      </div><!--
      <div class="form-group">
        <label class="switch">
          <input type="checkbox" class="switch">
          <span class="switch"></span>
          SMS
        </label>
      </div> -->
    </div>
    <hr>
    <div ng-class="{grayedout: !wallet.twofac.email_confirmed}">
        <div class="form-group">
          <label class="control-label">Αποστολή ειδοποίησης για εξερχόμενες συναλλαγές απο</label>
        </div>
        <div class="form-group">
          <label class="switch">
              <input type="checkbox" class="switch" ng-model="settings.notifications.email_outgoing" ng-disabled="settings.updating_ntf_email_outgoing || !wallet.twofac.email_confirmed">
              <span class="switch"></span>
              email
          </label>
        </div><!--
        <div class="form-group">
          <label class="switch">
            <input type="checkbox" class="switch">
            <span class="switch"></span>
            SMS
          </label>
        </div> -->
      </div>
      <div ng-hide="wallet.twofac.email_confirmed">
        <hr>
        <small class="label label-info" style="white-space: normal"><strong>ΣΗΜΕΙΩΣΗ</strong>: You need to have a confirmed email enabled for this feature to work.</small>
      </div>
    </form>
  </div>
</div>
<hr class="double">
<div class="row" ng-controller="PrivacyController">
  <div class="col-md-3">
    <div class="sub-header">Privacy</div>
    <div class="sub-header-desc">Decide who can send you money directly to your GreenAddress wallet, and who can see your name when receiving money from you</div>
  </div>
  <div class="col-md-9" submittable>
      <form role="form" class="row">
        <div class="form-group">
          <div class="col-sm-5"><label class="control-label" for="privacy_send_me">Allow sending to my wallet via email/Reddit</label>
          <br /><small>(NOTE: at this moment addressbook is not supported for Reddit contacts, so choosing 'Addressbook contacts' will disallow sending to you wallet directly using your Reddit handle)</small></div>
          <select ng-model="privacy.send_me" id="privacy_send_me" class="col-sm-4" ng-disabled="privacy.updating_send_me">
            <option value="2">Everyone</option>
            <option value="1">Addressbook contacts</option>
            <option value="0">No one</option>
          </select>
        </div>
      </form>
      <form role="form" class="row">
        <div class="form-group">
          <div class="col-sm-5"><label class="control-label" for="privacy_show_as_sender">Show my email/Reddit handle as sender to </label>
          <br /><small>(NOTE: at this moment addressbook is not supported for Reddit contacts, so choosing 'Mutually added in addressbook' will cause you to be never visible as sender when using Reddit handle for sending)</small></div>
          <select ng-model="privacy.show_as_sender" id="privacy_show_as_sender" class="col-sm-4" ng-disabled="privacy.updating_show_as_sender">
            <option value="2">Everyone</option>
            <option value="1">Mutually added in addressbook</option>
            <option value="0">No one</option>
          </select>
        </div>
      </form>
  </div>
</div>
<hr class="double">
<div class="row" ng-controller="TwoFactorSetupController">
  <div class="col-md-3">
    <div class="sub-header">Ελεγχος Ταυτότητας δυο παραγόντων</div>
    <div class="sub-header-desc">Ορίστε οποιοδήποτε ή όλους τους δύο παράγοντες: μπορείτε να επιλέξετε ποιο θέλετε όταν χρειάζεται!</div>
  </div>
  <div class="col-md-9" submittable>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="switch col-sm-3">
                <input type="checkbox" class="switch" ng-model="twofactor_state.twofac_email_switch" ng-disabled="twofactor_state.toggling_email">
                <span class="switch"></span>
                Email
            </label>
        </div>
    </form>
      <hr>
    <form role="form" class="form-horizontal" ng-submit="submit_gauth()">
        <div class="form-group">
            <label class="switch col-sm-4">
                <input type="checkbox" class="switch" ng-model="twofactor_state.twofac_gauth_switch" ng-disabled="twofactor_state.toggling_gauth">
                <span class="switch"></span>
                Ελεγχος με Google Authenticator
            </label>
            <div ng-show="twofactor_state.toggling_gauth == 'enabling' || twofactor_state.toggling_gauth == 'initial'" class="col-sm-8">
                <p>Πρέπει να παρέχετε ένα κωδικό για το Google Authenticator, για να ορίσετε το έλεγχο ταυτότητας δύο παράγοντων.<br>Παρακαλώ σαρώστε τον κωδικό QR παρακάτω, και προμηθευτείται τον κωδικό.
                </p>
                <div class="text-center"><a href="" class="btn btn-default btn-sm" style="margin:15px 0 0;" ng-click="gauth_qr_modal()"><i class="glyphicon glyphicon-qrcode"></i> Εμφάνιση QR Code</a></div>
                <label class="col-sm-2 control-label" for="wallet-gauth-conf-code">Κώδικας</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input ng-model="twofactor_state.twofac_gauth_code" class="form-control pin" type="tel" mask-input ng-required="twofactor_state.gauth_set"
                            maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-gauth-conf-code"
                            placeholder="Παρακαλούμε εισάγετε το κωδικό που έχετε λάβει" />
                        <span class="input-group-btn">
                            <input ng-disabled="!twofactor_state.twofac_gauth_code || twofactor_state.toggling_gauth == 'enabling'" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Ενεργοποίηση" /><a href="" class="btn btn-warning" ng-click="cancel_twofac_gauth()" ng-class="{disabled: twofactor_state.toggling_gauth == 'enabling'}">Ακύρωση</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
      <hr>
    <form role="form" class="form-horizontal" ng-submit="submit_sms()">
        <div class="form-group">
            <label class="switch col-sm-3">
                <input type="checkbox" class="switch" ng-model="twofactor_state.twofac_sms_switch" ng-disabled="twofactor_state.toggling_sms">
                <span class="switch"></span>
                SMS
            </label>
            <input type="submit" style="position: absolute; left: -10000px;" />
            <div ng-show="twofactor_state.toggling_sms == 'initial' && !twofactor_state.sms_set" class="col-sm-9">
                <label class="col-sm-4 control-label" for="wallet-google-conf-code">Τον αριθμό του τηλεφώνου σας</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" ng-model="twofactor_state.new_twofac_sms"
                            id="wallet-twofac-sms" type="tel" name="phone" ng-required="!twofactor_state.sms_set"
                            placeholder="+ NN... Παρακαλώ εισάγετε το τηλέφωνό σας" />
                        <span class="input-group-btn">
                            <input ng-disabled="!twofactor_state.new_twofac_sms || twofactor_state.enabling_sms" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Ενεργοποίηση" />
                        </span>
                    </div>
                </div>
            </div>
            <div ng-show="(twofactor_state.toggling_sms == 'enabling' || twofactor_state.toggling_sms == 'initial') && twofactor_state.sms_set" class="col-sm-9">
                <p>Πρέπει να παρέχετε ένα SMS κωδικό για να ορίσετε τον έλεγχο ταυτότητας δύο παραγόντων.<br>Παρακαλώ ελέγξτε το τηλέφωνό σας και προμηθευτήτε τον κωδικό.
                </p>
                <label class="col-sm-4 control-label" for="wallet-sms-conf-code">κωδικός SMS</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <input ng-model="twofactor_state.twofac_sms_code" class="form-control pin" type="tel" mask-input ng-required="twofactor_state.sms_set"
                            maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-sms-conf-code"
                            placeholder="Παρακαλούμε εισάγετε το κωδικό που έχετε λάβει" />
                        <span class="input-group-btn">
                            <input ng-disabled="!twofactor_state.twofac_sms_code || twofactor_state.toggling_sms == 'enabling'" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Ενεργοποίηση" /><a href="" class="btn btn-warning" ng-click="cancel_twofac_sms()" ng-class="{disabled: twofactor_state.toggling_sms == 'enabling'}">Ακύρωση</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
      <hr>
    <form role="form" class="form-horizontal" ng-submit="submit_phone()">
        <div class="form-group">
            <label class="switch col-sm-3">
                <input type="checkbox" class="switch" ng-model="twofactor_state.twofac_phone_switch" ng-disabled="twofactor_state.toggling_phone">
                <span class="switch"></span>
                Τηλέφωνο
            </label>
            <input type="submit" style="position: absolute; left: -10000px;" />
            <div ng-show="twofactor_state.toggling_phone == 'initial' && !twofactor_state.phone_set" class="col-sm-9">
                <label class="col-sm-4 control-label" for="wallet-google-conf-code">Τον αριθμό του τηλεφώνου σας</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" ng-model="twofactor_state.new_twofac_phone"
                            id="wallet-twofac-phone" type="tel" name="phone" ng-required="!twofactor_state.phone_set"
                            placeholder="+ NN... Παρακαλώ εισάγετε το τηλέφωνό σας" />
                        <span class="input-group-btn">
                            <input ng-disabled="!twofactor_state.new_twofac_phone || twofactor_state.enabling_phone" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Ενεργοποίηση" />
                        </span>
                    </div>
                </div>
            </div>
            <div ng-show="(twofactor_state.toggling_phone == 'enabling' || twofactor_state.toggling_phone == 'initial') && twofactor_state.phone_set" class="col-sm-9">
                <p>Πρέπει να παρέχετε ένα SMS κωδικό για να ορίσετε τον έλεγχο ταυτότητας δύο παραγόντων.<br>Παρακαλώ ελέγξτε το τηλέφωνό σας και προμηθευτήτε τον κωδικό.
                </p>
                <label class="col-sm-4 control-label" for="wallet-phone-conf-code">Κωδικός τηλεφώνου</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <input ng-model="twofactor_state.twofac_phone_code" class="form-control pin" type="tel" mask-input ng-required="twofactor_state.phone_set"
                            maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-phone-conf-code"
                            placeholder="Παρακαλούμε εισάγετε το κωδικό που έχετε λάβει" />
                        <span class="input-group-btn">
                            <input ng-disabled="!twofactor_state.twofac_phone_code || twofactor_state.toggling_phone == 'enabling'" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Ενεργοποίηση" /><a href="" class="btn btn-warning" ng-click="cancel_twofac_phone()" ng-class="{disabled: twofactor_state.toggling_phone == 'enabling'}">Ακύρωση</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
  </div>
</div>
<hr class="double">
<div class="row" ng-controller="AutoLogoutController">
  <div class="col-md-3">
    <div class="sub-header">Auto logout</div>
    <div class="sub-header-desc">Configure auto logout after some inactivity timeout  (( mins )) : (( secs )) </div>
  </div>
  <div class="col-md-9" submittable>
    <form role="form" class="form-horizontal" ng-submit="save_logout_timeout()">
        <label class="col-sm-2 control-label" for="wallet-timeout">Minutes</label>
        <div class="input-group">
            <input inputmode="numeric" type="tel" class="form-control" placeholder="Timeout minutes"
                   maxlength="3"  ng-pattern="/[0-9]/" ng-model="timeoutstate.altimeout" id="wallet-timeout"/>
            <input type="submit" class="btn btn-primary" ng-show="wallet.appearance.altimeout != timeoutstate.altimeout" value="Save" ng-disabled="timeoutstate.timeout" />
        </div>
    </form>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
      <div class="sub-header">Εμφάνιση μνημονικού</div>
    <div class="sub-header-desc">Εμφάνιση του μνημονικού σας για την ανάκτηση του λογαριασμού ή κλωνοποίηση σε κάποια άλλη συσκευή.</div>
  </div>
  <div class="col-md-9">
    <button class="btn btn-warning btn-block-xs" ng-click="show_mnemonic()"><i class="glyphicon glyphicon-eye-open"></i> Εμφάνιση μνημονικού</button>
    <button ng-hide="cordova_platform=='ios'" class="btn btn-success btn-block-xs" ng-click="show_encrypted_mnemonic()"><i class="glyphicon glyphicon-lock"></i> Show encrypted mnemonic</button>
    
    <button ng-hide="cordova_platform=='ios'" class="btn btn-default btn-block-xs" ng-click="settings.nfcmodal()"><i class="glyphicon glyphicon-transfer"></i> Γράψτε στην ετικέτα NFC</button>
    <button ng-hide="cordova_platform=='ios'" class="btn btn-default btn-block-xs" ng-click="settings.nfcmodal_encrypted()"><i class="glyphicon glyphicon-transfer"></i><i class="glyphicon glyphicon-lock"></i> Write encrypted to NFC tag</button>
    
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">nLockTime</div>
    <div class="sub-header-desc">οι συναλλαγές nLockTime σας επιτρέπουν να εξαργυρώσετε τα κεφάλαια που έχετε καταθέσει χωρίς την υπογραφή του GreenAddress.it, μετά από προκαθορισμένο αριθμό μπλοκς</div>
  </div>
  <div class="col-md-9">
    <form role="form" class="form-inline" ng-submit="settings.nlocktime.update()">
      <div class="form-group">
        <div ng-class="{grayedout: !settings.notifications.email_incoming || !settings.notifications.email_outgoing || !wallet.twofac.email_confirmed}">
          <label for="id_nlocktime_blocks" class="control-label">Επιτρέπουν την εξαργύρωση κεφαλαίων χωρίς την υπογραφή του GreenAddress.it μετά</label>
          <input class="form-control" type="tel" ng-model="settings.nlocktime.blocks_new" ng-disabled="settings.nlocktime.updating_nlocktime_blocks || !settings.notifications.email_incoming || !settings.notifications.email_outgoing || !wallet.twofac.email_confirmed" />
          blocks
          <input type="submit" class="btn btn-sm btn-default" value="Save" ng-show="settings.nlocktime.blocks_new != settings.nlocktime.blocks" ng-disabled="settings.nlocktime.updating_nlocktime_blocks"  />
          <br />(( settings.nlocktime.blocks_userfriendly ))
        </div>
        <div ng-hide="settings.notifications.email_incoming && settings.notifications.email_outgoing && wallet.twofac.email_confirmed">
          <hr>
          <small class="label label-info" style="white-space: normal"><strong>ΣΗΜΕΙΩΣΗ</strong>: Τόσο οι εξερχόμενες όσο και οι εισερχόμενες ειδοποιήσεις συναλλαγών πρέπει να είναι ενεργοποιημένες για να λειτουργεί αυτή η δυνατότητα.</small>
        </div>
        <hr>
        <a href="" class="btn btn-primary btn-block-xs" ng-click="settings.expiring_soon_modal()"><i class="glyphicon glyphicon-time"></i> Εμφάνιση εκροών που λήγουν σύντομα</a>
        <a href="" class="btn btn-info btn-block-xs" ng-class="{disabled: settings.sending_nlocktime}" ng-click="settings.send_nlocktime()"><i class="glyphicon glyphicon-send"></i> Send all nLockTime transactions by email</a>
      </div>
    </form>
  </div>
</div>
<hr class="double">
<div class="row" ng-controller="TxLimitsController">
  <div class="col-md-3">
    <div class="sub-header">Όρια δαπανών</div>
    <div class="sub-header-desc">Θέστε κάποια όρια για τα οποία δεν θα σας ζητηθεί έλεγχο ταυρότητας με την μέθοδο των δύο παραγόντων για πληρωμές φιλικές προς το χρήστη.</div>
  </div>
  <div class="col-md-9">
    <p>You can provide amount (BTC or fiat) limits of transactions that you can make without using two factor authentication</p>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Limit currency</label>
        <div class="col-sm-7">
          <span class="form-control" value="BTC" ng-show="!wallet.limits.is_fiat">(( wallet.unit ))</span>
          <span class="form-control" value="fiat" ng-show="wallet.limits.is_fiat">(( wallet.fiat_currency)) (current currency)</span>
          <small ng-show="wallet.limits.is_fiat" class="label label-warning" style="white-space: normal"><strong>ΣΗΜΕΙΩΣΗ</strong>: Using currency values for limits assumes you can trust your pricing source to provide correct values.</small>
        </div>
      </div>
      <!-- <div class="form-group">
        <label class="col-sm-3 control-label">Single transaction</label>
        <div class="col-sm-7">
          <span class="form-control">((wallet.limits.per_tx|format_btc:wallet.limits.is_fiat?wallet.fiat_currency:wallet.unit))</span>
        </div>
      </div> -->
      <div class="form-group">
        <label class="col-sm-3 control-label">Total</label>
        <div class="col-sm-7">
          <span class="form-control">((wallet.limits.total|format_btc:wallet.limits.is_fiat?wallet.fiat_currency:wallet.unit))</span>
          <small>This limit will be decreased with each transaction and you will need to "refill" it manually by changing this value.</small>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-info btn-block-xs" ng-click="change_tx_limits()"><i class="glyphicon glyphicon-edit"></i> Change limits</button>
    </div>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Καθυστερήσεις πληρωμών</div>
    <div class="sub-header-desc">Καθυστερήση των συναλλαγών για να είστε ήσυχοι: λειτουργεί καλύτερα σε συνδυασμό με τις εξερχόμενες ειδοποιήσεις.</div>
  </div>
  <div class="col-md-9">
    <form role="form" class="form-horizontal">
      <label class="switch">
          <input type="checkbox" class="switch" disabled>
          <span class="switch"></span>
          <span>
            Ενεργοποίηση καθυστέρησης πληρωμών
            <span class="coming-soon">Προσεχώς</span>
          </span>
      </label>
      <!--
      <hr>
      <div class="form-group">
        <label class="control-label col-sm-3">Καθυστέρηση πληρωμών από</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Ποσό">
        </div>
        <div class="col-sm-4">
          <select class="form-control">
            <option value="">Seconds</option>
            <option value="">Minutes</option>
          </select>
        </div>
      </div>
      -->
    </form>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Remove account</div>
    <div class="sub-header-desc">You can remove your account with all associated data here.</div>
  </div>
  <div class="col-md-9">
      <button class="btn btn-danger btn-block-xs" ng-click="remove_account()"><i class="glyphicon glyphicon-remove"></i> Remove account</button>
  </div>
</div>