<div class="modal-body text-center">
    <p>Ο κώδικας QR που περιέχει την συνθηματική φράση πρόσβασης στο πορτοφόλι σας είναι:</p>
    <p><qr text="(( mnemonic_encrypted || wallet.mnemonic ))" size="212"></qr></p>
    <p ng-show="mnemonic_encrypted">This passphrase is encrypted, so your encryption password is required to use it.</p>
    <p><b><i class="glyphicon glyphicon-exclamation-sign"></i> Θυμηθείτε να το αποθηκεύσετε σε ένα ασφαλές μέρος!</b></p>

    <div class="mnemonic-label">Το συνθηματικό σας</div>
    <div class="mnemonic info" ng-bind="mnemonic_encrypted || wallet.mnemonic"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Κλείσιμο</button>
</div>