<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="it.greenaddress.cordova" version="0.0.0">
    <name>GAIT</name>
    <description>Cordova GAIT Plugin</description>
    <keywords>cordova,gait</keywords>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <preference name="AndroidLaunchMode" value="singleTop" />
            <feature name="PINInput">
                <param name="android-package" value="it.greenaddress.cordova.PINInput"/>
            </feature>
            <feature name="BIP39">
                <param name="android-package" value="it.greenaddress.cordova.BIP39"/>
            </feature>
            <feature name="BIP38">
                <param name="android-package" value="it.greenaddress.cordova.BIP38"/>
            </feature>
            <feature name="BTChip">
                <param name="android-package" value="it.greenaddress.cordova.BTChip"/>
            </feature>
            <feature name="org.apache.cordova.facebook.Connect">
                <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="bitcoin" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="x-gait/mnc" />
                <data android:mimeType="x-ga/en" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <activity android:name="it.greenaddress.cordova.PINInputActivity" />

            <receiver android:label="GreenAddress Wallet Balance" android:name="it.greenaddress.cordova.WalletBalanceWidgetProvider">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                </intent-filter>
                <meta-data android:name="android.appwidget.provider" android:resource="@xml/wallet_balance_widget" />
            </receiver>

            <activity android:name="it.greenaddress.cordova.SettingsActivity" android:noHistory="true">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                </intent-filter>
            </activity>

        </config-file>

        <framework src="facebook-android-sdk-3.7/facebook" custom="true" />

        <!-- sources -->
        <source-file src="BIP38.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="BIP39.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="BTChip.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="GreenAddressIt.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="PINInput.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="PINInputActivity.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="SettingsActivity.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="WalletBalanceWidgetProvider.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="WalletClient.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="device_filter.xml" target-dir="res/xml" />
        <source-file src="wallet_balance_widget.xml" target-dir="res/xml" />
        <source-file src="widget_preferences.xml" target-dir="res/xml" />

        <!-- layout -->
        <source-file src="wallet_balance_widget_content.xml" target-dir="res/layout" />

        <!-- drawables -->
        <source-file src="appwidget_button_center.xml" target-dir="res/drawable" />
        <source-file src="appwidget_button_left.xml" target-dir="res/drawable" />
        <source-file src="appwidget_button_right.xml" target-dir="res/drawable" />
        <source-file src="appwidget_dark_bg_clickable.xml" target-dir="res/drawable" />
        <source-file src="drawable/hdpi/ic_action_camera.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/ic_action_receive.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/ic_action_send.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/xhdpi/ic_action_camera.png" target-dir="res/drawable-xhdpi" />
        <source-file src="drawable/xhdpi/ic_action_receive.png" target-dir="res/drawable-xhdpi" />
        <source-file src="drawable/xhdpi/ic_action_send.png" target-dir="res/drawable-xhdpi" />
        <source-file src="drawable/xhdpi/widget_preview.png" target-dir="res/drawable-xhdpi" />
        <source-file src="drawable/hdpi/appwidget_dark_bg.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_dark_bg_focused.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_dark_bg_pressed.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_divider.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_focused_c.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_focused_l.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_focused_r.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_pressed_c.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_pressed_l.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_pressed_r.9.png" target-dir="res/drawable-hdpi" />

        <!-- libs -->
        <source-file src="libs/autobahn-android-0.5.2-SNAPSHOT.jar" target-dir="libs" />
        <source-file src="libs/bcprov-jdk15on-150.jar" target-dir="libs" />
        <source-file src="libs/jackson-core-asl-1.8.6.jar" target-dir="libs" />
        <source-file src="libs/jackson-datatype-json-org-1.8.0.jar" target-dir="libs" />
        <source-file src="libs/jackson-mapper-asl-1.8.6.jar" target-dir="libs" />
        <source-file src="libs/jwamp-core-0.0.1-SNAPSHOT.jar" target-dir="libs" />
        <source-file src="libs/jwamp-jee6-jetty-0.0.1-SNAPSHOT.jar" target-dir="libs" />
        <source-file src="libs/log4j-1.2.17.jar" target-dir="libs" />
        <source-file src="libs/slf4j-api-1.6.5.jar" target-dir="libs" />
        <source-file src="libs/slf4j-log4j12-1.6.6.jar" target-dir="libs" />
        <source-file src="libs/armeabi/libscrypt.so" target-dir="libs/armeabi" />
        <source-file src="libs/mips/libscrypt.so" target-dir="libs/mips" />
        <source-file src="libs/x86/libscrypt.so" target-dir="libs/x86" />
        <source-file src="libs/armeabi-v7a/libscrypt.so" target-dir="libs/armeabi-v7a" />
        <source-file src="libs/arm64-v8a/libscrypt.so" target-dir="libs/arm64-v8a" />
        <source-file src="libs/mips64/libscrypt.so" target-dir="libs/mips64" />
        <source-file src="libs/x86_64/libscrypt.so" target-dir="libs/x86_64" />
        <source-file src="build-extras.gradle" target-dir="." />

        <!-- dependencies -->
        <source-file src="deps/com/bitsofproof/supernode/api/Address.java" target-dir="src/com/bitsofproof/supernode/api" />
        <source-file src="deps/com/bitsofproof/supernode/api/Network.java" target-dir="src/com/bitsofproof/supernode/api" />
        <source-file src="deps/com/bitsofproof/supernode/common/ByteUtils.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/ECKeyPair.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/ECPublicKey.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/Hash.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/Key.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/ScriptFormat.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/ValidationException.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/wallet/KeyFormatter.java" target-dir="src/com/bitsofproof/supernode/wallet" />
        <source-file src="deps/com/btchip/BitcoinTransaction.java" target-dir="src/com/btchip" />
        <source-file src="deps/com/btchip/BTChipConstants.java" target-dir="src/com/btchip" />
        <source-file src="deps/com/btchip/BTChipDongle.java" target-dir="src/com/btchip" />
        <source-file src="deps/com/btchip/BTChipException.java" target-dir="src/com/btchip" />
        <source-file src="deps/com/btchip/comm/android/BTChipTransportAndroid.java" target-dir="src/com/btchip/comm/android" />
        <source-file src="deps/com/btchip/comm/android/BTChipTransportAndroidHID.java" target-dir="src/com/btchip/comm/android" />
        <source-file src="deps/com/btchip/comm/android/BTChipTransportAndroidWinUSB.java" target-dir="src/com/btchip/comm/android" />
        <source-file src="deps/com/btchip/comm/BTChipTransport.java" target-dir="src/com/btchip/comm" />
        <source-file src="deps/com/btchip/comm/LedgerHelper.java" target-dir="src/com/btchip/comm" />
        <source-file src="deps/com/btchip/utils/BIP32Utils.java" target-dir="src/com/btchip/utils" />
        <source-file src="deps/com/btchip/utils/BufferUtils.java" target-dir="src/com/btchip/utils" />
        <source-file src="deps/com/btchip/utils/CoinFormatUtils.java" target-dir="src/com/btchip/utils" />
        <source-file src="deps/com/btchip/utils/Dump.java" target-dir="src/com/btchip/utils" />
        <source-file src="deps/com/btchip/utils/VarintUtils.java" target-dir="src/com/btchip/utils" />
        <source-file src="deps/com/lambdaworks/codec/Base64.java" target-dir="src/com/lambdaworks/codec" />
        <source-file src="deps/com/lambdaworks/crypto/PBKDF.java" target-dir="src/com/lambdaworks/crypto" />
        <source-file src="deps/com/lambdaworks/crypto/SCrypt.java" target-dir="src/com/lambdaworks/crypto" />
        <source-file src="deps/com/lambdaworks/crypto/SCryptUtil.java" target-dir="src/com/lambdaworks/crypto" />
        <source-file src="deps/com/lambdaworks/jni/JarLibraryLoader.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/LibraryLoader.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/LibraryLoaders.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/NilLibraryLoader.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/Platform.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/SysLibraryLoader.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/UnsupportedPlatformException.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/org/apache/cordova/facebook/ConnectPlugin.java" target-dir="src/org/apache/cordova/facebook" />

        <hook type="after_plugin_install" src="scripts/removeMainActivity.js" />
        <hook type="after_plugin_install" src="scripts/addAllowBackupFalse.js" />
        <hook type="after_prepare" src="scripts/removeMainActivity.js" />
        <hook type="after_prepare" src="scripts/addAllowBackupFalse.js" />
    </platform>
    <platform name="ios">
        <framework src="Security.framework" />
        <framework src="com.phonegap.plugins.facebookconnect/FacebookSDK.framework" custom="true" />
        <source-file src="com.phonegap.plugins.facebookconnect/FacebookConnectPlugin.m" />
        <source-file src="com.phonegap.plugins.facebookconnect/FacebookConnectPlugin.h" />
        <source-file src="bip38/bip38.h" target-dir="bip38" />
        <source-file src="bip38/bip38.m" target-dir="bip38" />
        <source-file src="bip38/c/crypto_scrypt-neon.c" target-dir="bip38/c" />
        <source-file src="bip38/c/crypto_scrypt-sse.c" target-dir="bip38/c" />
        <source-file src="bip38/c/sha256.c" target-dir="bip38/c" />
        <source-file src="bip38/include/config.h" target-dir="bip38/include" />
        <source-file src="bip38/include/crypto_scrypt-neon-salsa208.h" target-dir="bip38/include" />
        <source-file src="bip38/include/crypto_scrypt.h" target-dir="bip38/include" />
        <source-file src="bip38/include/scrypt_platform.h" target-dir="bip38/include" />
        <source-file src="bip38/include/sha256.h" target-dir="bip38/include" />
        <source-file src="bip38/include/sysendian.h" target-dir="bip38/include" />
        <source-file src="CDVAES.m" />
        <source-file src="CDVAES.h" />
        <source-file src="CDVBIP32.m" />
        <source-file src="CDVBIP32.h" />
        <source-file src="CDVBIP38.m" />
        <source-file src="CDVBIP38.h" />
        <source-file src="CDVBIP39.m" />
        <source-file src="CDVBIP39.h" />
        <source-file src="CDVECDSA.m" />
        <source-file src="CDVECDSA.h" />
        <source-file src="touchid/Keychain.swift" target-dir="touchid" />
        <source-file src="touchid/CDVTouchId.swift" target-dir="touchid" />

        <source-file src="CoreBitcoin/BTCAddress.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCAddress.m" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCAddressSubclass.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCData+Tests.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCData+Tests.m" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCData.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCData.m" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCKey.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCKey.m" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCKeychain.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCKeychain.m" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCNetwork.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCNetwork.m" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/NSData+BTCData.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/NSData+BTCData.m" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCBase58+Tests.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCBase58+Tests.m" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCBase58.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/BTCBase58.m" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/NS+BTCBase58.h" target-dir="CoreBitcoin" />
        <source-file src="CoreBitcoin/NS+BTCBase58.m" target-dir="CoreBitcoin" />

        <source-file src="libsecp256k1/src/basic-config.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/ecdsa.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/ecdsa_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/eckey.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/eckey_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/ecmult.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/ecmult_const.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/ecmult_const_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/ecmult_gen.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/ecmult_gen_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/ecmult_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/field.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/field_10x26.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/field_10x26_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/field_5x52.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/field_5x52_asm_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/field_5x52_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/field_5x52_int128_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/field_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/group.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/group_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/hash.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/hash_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/num.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/num_gmp.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/num_gmp_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/num_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/scalar.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/scalar_4x64.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/scalar_4x64_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/scalar_8x32.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/scalar_8x32_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/scalar_impl.h" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/secp256k1.c" target-dir="libsecp256k1" />
        <source-file src="libsecp256k1/src/util.h" target-dir="libsecp256k1" />

        <source-file src="libsecp256k1/include/secp256k1.h" target-dir="libsecp256k1/include" />

        <source-file src="libbase58/libbase58.h" />
        <source-file src="libbase58/base58.c" />

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
              <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                  <string>fb1470897776471523</string>
                </array>
              </dict>
              <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                  <string>bitcoin</string>
                </array>
              </dict>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="FacebookAppID">
            <string>1470897776471523</string>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="AES">
                <param name="ios-package" value="CDVAES"/>
            </feature>
            <feature name="ECDSA">
                <param name="ios-package" value="CDVECDSA"/>
            </feature>
            <feature name="BIP32">
                <param name="ios-package" value="CDVBIP32"/>
            </feature>
            <feature name="BIP38">
                <param name="ios-package" value="CDVBIP38"/>
            </feature>
            <feature name="BIP39">
                <param name="ios-package" value="CDVBIP39"/>
            </feature>
            <feature name="CDVTouchId">
                <param name="ios-package" value="CDVTouchId"/>
            </feature>
            <feature name="org.apache.cordova.facebook.Connect">
                <param name="ios-package" value="FacebookConnectPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <hook type="after_plugin_install" src="scripts/add_swift_support.js" />
        <hook type="after_platform_add" src="scripts/add_secp_config.js" />
    </platform>
</plugin>
