<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Tu sesión ha finalizado.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
                  Ha iniciado sesión en otra ubicación.<br>          <small>Si no ha sido Tú, por favor contacte <strong>inmediatamente </strong> a <a href="/support/">soporte</a>.</small>     
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Volver a Iniciar Sesión</a>
      </div>
    </div>
  </div>
</div>