<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Su sesión ha finalizado.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">
                  Ha iniciado sesión en otra ubicación.<br><small>Si no ha sido usted, por favor contacte <strong>inmediatamente</strong> a <a href="/support/">support</a>.</small>        
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Volver al inicio de sesión</a>
      </div>
    </div>
  </div>
</div>