<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            
            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">Para mejorar la seguridad continúe el registro mediante nuestras aplicaciones de escritorio o móviles<br>
                    <small>Las aplicaciones instaladas localmente son generalmente más seguras que los sitios web</small>
                </div>
                <hr>
                <p>Estas aplicaciones están diseñadas para protegerlo a usted y a sus monedas, incluso en caso de que el servicio esté comprometido y debería ser preferido sobre utilizar el navegador.<br/><br/>
                Web access is intended to be used for watch only mode or if you have no alternative, like on the Windows Mobile platform. 
                <br/>
                <br/>
                Please see the link to Google Play store, Chrome Web Store or AppStore below
                </p>
            </div>

            <div class="create-modal-footer">
                <a target="_blank" class="supported-browsers" href="https://play.google.com/store/apps/details?id=it.greenaddress.cordova"><img src="/static/img/logos/logo-google-play.png" class="android-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://chrome.google.com/webstore/detail/greenaddressit/dgbimgjoijjemhdamicmljbncacfndmp" ><img src="/static/img/logos/logo-chrome-web-store.png" class="chrome-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://itunes.apple.com/us/app/greenaddress/id889740745?mt=8#"><img src="/static/img/logos/logo-appstore-es.svg" class="ios-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://f-droid.org/repository/browse/?fdid=it.greenaddress.cordova"><img src="../static/img/logos/logo-fdroid.svg" class="fdroid-app" /></a>
                <hr>
                <a class="btn btn-primary btn-block-xs" href="#/create">Continuar utilizando la página web</a>
            </div>

        </div>
    </div>
</div>