<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            <div class="create-modal-header">
                <span class="pull-left">¿Ya tiene una cuenta?
                    
                    <a href="" ng-click="logout()">Inicia sesión para acceder a tu Wallet</a></span>
                    
                Paso 1 de 4
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%"></div>
                </div>
            </div>

            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">Ya es dueño de su propia Bitcoin Wallet<br>
                    <small>Por favor complete estos 4 pasos simples para terminar de asegurarla contra intrusos</small>
                </div>
                <hr>
                <div class="mnemonic-label ng-cloak" ng-show="signup.mnemonic && !signup.mnemonic_encrypted">Su indicio de clave</div>
                <div class="mnemonic-label ng-cloak" ng-show="signup.mnemonic && signup.mnemonic_encrypted">Your <strong>encrypted</strong> mnemonic passphrase</div>
                <div class="mnemonic info ng-cloak" ng-bind="signup.mnemonic_encrypted || signup.mnemonic" ng-show="signup.mnemonic_encrypted || signup.mnemonic"></div>
                <div class="mnemonic info" ng-hide="signup.mnemonic">Generando indicio de clave, espere por favor...</div>
                <div ng-hide="signup.mnemonic_encrypted || cordova_platform=='ios'" class="row"><div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <a class="col-xs-12 btn btn-large btn-success" ng-class="{disabled: !signup.mnemonic}" ng-click="signup.encrypt_mnemonic()"><i class="glyphicon glyphicon-lock"></i>Click to encrypt your mnemonic</a>
                </div></div>
                <hr>
                <p>Por favor escriba estas palabras y guárdelas en un lugar seguro. NO pueden ser recuperadas. <b>Nosotros no almacenamos esta información, ¡no podemos ayudarle a recuperarla!</b></p>
            </div>

            <div class="create-modal-footer" ng-hide="signup.unexpected_error">
                <label for="checkbox-confirmation">
                    <input type="checkbox" ng-model="signup.secured_confirmed" id="checkbox-confirmation"> Confirmo que he guardado mi clave de forma segura y estoy de acuerdo con los <a href="/tos" target="_blank">Términos del Servicio</a>
                </label>
                <br>
                <button class="btn btn-default btn-block-xs" ng-click="signup.qrmodal()" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-qrcode"></i> Ver QR Code</button>
                
                <button class="btn btn-default btn-block-xs" ng-hide="cordova_platform=='ios'" ng-click="signup.nfcmodal()" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-transfer"></i> Escribir a etiqueta NFC</button>
                
                <a ng-hide="signup.noLocalStorage" class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.mnemonic||!signup.secured_confirmed}" href="#/signup_pin#content_container">Continuar!</a>
                <a ng-show="signup.noLocalStorage" class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.mnemonic||!signup.secured_confirmed}" href="#/signup_oauth#content_container">Continuar!</a>
            </div>

            <div class="create-modal-footer" ng-show="signup.unexpected_error">
                <a class="btn btn-danger login-submit" href="" ng-click="signup.try_again()">
                    Error:  (( signup.unexpected_error )).  Haga click para reintentar
                </a>
            </button>
            </div>

        </div>
    </div>
</div>


<div class="printable">
    <h1><img src="/static/img/logos/logo-greenaddress.png" alt="GreenAddres.it"> GreenAddress.it<br><small>https://greenaddress.it</small></h1>
    <p>La clave para acceder a tu Wallet es:</p>
    <div class="mnemonic noanimate">(( signup.mnemonic_encrypted || signup.mnemonic ))</div>
    <p ng-if="signup.mnemonic_encrypted">This passphrase is encrypted, so<br/> your encryption password is required to use it.</p>
    <qr ng-if="signup.mnemonic" class="qrcode" text="(( signup.mnemonic_encrypted || signup.mnemonic ))" size="212"></qr>
    <p><i class="glyphicon glyphicon-exclamation-sign"></i> <i>Guarde esta página en un sitio seguro</i></p>
</div>