<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Paso 4 de 4
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">No comprometa su seguridad<br><small>Configurar autenticación de doble factor</small></div>
                <div ng-controller="TwoFactorSetupController" ng-include="'file:///android_asset/www/greenaddress.it/es/wallet/partials/wallet_2fa.html'"></div>
                <hr class="double">
                <p>Recomendamos altamente que configure la Autenticación de Doble Factor, ésta función hará que tu Wallet sea mucho más segura y le permitirá hacer uso de funciones adicionales como Límites de Pagos o Pagos Retrasados.</p>
                <p>Si lo configura para emitir una transacción deberá no sólo acceder a tu Wallet sino también confirmar con un código enviado a su email, SMS o Google Authenticator.</p>
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/info#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.twofac_in_progress}">
                    ¡Ir a mi Wallet!
                </a>
            </div>

        </div>
    </div>
</div>