<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Paso 2 de <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 50%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">No comprometa su seguridad<br><small>Configurar autenticación de doble factor</small></div>
                <div ng-if="signup.logged_in" ng-controller="TwoFactorSetupController" ng-include="'../es/wallet/partials/wallet_2fa.html'"></div>
                <div ng-hide="signup.logged_in" style="text-align: center">Por favor espere mientras iniciamos sesión en su nueva wallet...</div>
                <hr class="double">
                <p>Requerimos que configure la Autenticación de Doble Factor, estao hará que tu Wallet sea mucho más segura y le permitirá hacer uso de funciones adicionales como Límites de Pagos o Pagos Retrasados.</p>
                <p>Para emitir una transacción no sólo necesitará iniciar sesión en su wallet sino también confirmarlo con un código enviado vía correo electrónico, SMS o google authenticator según su elección.</p>
            </div>

            <div class="create-modal-footer">
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress < 100">
                    Generando las claves de tu Wallet, por favor espere ... (( signup.seed_progress ))%
                </span>
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress == 100 && !signup.logged_in && !signup.login_failed">
                    Por favor espere, iniciando sesión...
                </span>
                <a ng-hide="signup.noLocalStorage || signup.has_btchip || signup.has_trezor" href="#/signup_pin#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.twofac_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed || !wallet.twofac.any}">
                    Continuar!
                </a>
                <a ng-show="signup.noLocalStorage || signup.has_btchip || signup.has_trezor" href="#/signup_oauth#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.twofac_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed || !wallet.twofac.any}">
                    Continuar!
                </a>
            </div>

        </div>
    </div>
</div>