<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            
            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">Para mejorar la seguridad continúe el registro mediante nuestras aplicaciones de escritorio o móviles<br>
                    <small>Las aplicaciones instaladas localmente son generalmente más seguras que los sitios web</small>
                </div>
                <hr>
                <p>Estas aplicaciones están diseñadas para protegerlo a usted y a sus monedas, incluso en caso de que el servicio esté comprometido y debería ser preferido sobre utilizar el navegador.<br/><br/>
                El acceso web está diseñado para ser usado en el modo de sólo lectura o si usted no tiene alternativa, como en la plataforma iOS. 
                <br/>
                <br/>
                Por favor vea abajo el enlace al Google Play store o Chrome Web Store
                </p>
            </div>

            <div class="create-modal-footer">
                <a target="_blank" class="supported-browsers" href="https://play.google.com/store/apps/details?id=it.greenaddress.cordova"><img src="/static/img/logos/logo-google-play.png" class="android-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://chrome.google.com/webstore/detail/greenaddressit/dgbimgjoijjemhdamicmljbncacfndmp" ><img src="/static/img/logos/logo-chrome-web-store.png" class="chrome-app" /></a>
                <a class="btn btn-primary btn-block-xs" href="#/create">Continuar utilizando la página web</a>
            </div>

        </div>
    </div>
</div>