<div class="alert alert-error" ng-show="nfc_error">
    Hubo un problema al escribir la etiqueta NFC: (( nfc_error.reason ))
</div>
<div class="modal-body text-center" ng-show="(( !nfc_init_error && nfc_init_succeeded < 3 ))">
    <p>Iniciando lector de etiquetas NFC...</p>
</div>
<div class="modal-body text-center" ng-show="(( nfc_init_succeeded == 3 ))">
    <p>Por favor mantenga su(s) etiqueta(s) cerca del lector para escribir su Wallet</p>
    <p>Etiquetas escritas: (( num_tags_written ))</p>
    <p>Etiquetas formateadas: (( num_tags_formatted ))</p>
</div>
<div class="modal-body text-center" ng-show="(( nfc_init_error ))">
    <p>Su NFC no esta habilitado o no se encuentra disponible. Si está disponible, por favor habilítelo en la configuración</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Cerrar</button>
</div>