<div class="modal-header">
    Confirmar el cambio de la fuente de precios
</div>
<div class="modal-body">
  <p>Cambiar la fuente de precios mientras se la usa para límites de transacción resultará en el restablecimiento de los límites a 0. ¿Quiere continuar?
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="$dismiss()" ng-disabled="limits_editor.saving">Cancelar</button>
  <button class="btn btn-primary btn-block-xs" ng-click="$close()" ng-disabled="limits_editor.saving">Ok</button>
</div>