<div class="row hidden-xs hidden-sm">
  <div class="col-md-12">
    <div class="header">
      Enviar Dinero<span class="balance pull-right" ng-include="'../'+LANG+'/wallet/partials/wallet_balance.html'"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="voucher_text" ng-show="send_tx.voucher">Voucher Text (optional)</label>
        <label class="col-sm-2 control-label" for="recipient" ng-hide="send_tx.voucher">Destinatario</label>
        <div class="col-sm-10" ng-show="send_tx.voucher">

            <input ng-model="send_tx.voucher_text" class="form-control" type="text" id="voucher_text" placeholder="Enter any clear text message that will appear on the voucher" />

        </div>
        <div class="col-sm-10" ng-hide="send_tx.voucher">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
            <script id="template/typeahead/typeahead-match.html" type="text/ng-template">
              <a tabindex="-1" ng-bind="match.label"></a>
            </script>
            <input ng-disabled="send_tx.processing_payreq" ng-controller="AddressBookController" ng-model="send_tx.recipient" class="form-control" type="text" id="recipient" name="recipient" placeholder="Ingrese la dirección bitcoin, email o nombre de cuenta de Facebook del destinatario"
                    typeahead="item as item.name for item in addressbook.items | filter:$viewValue | limitTo:8" />
            
            <!--
            <span class="input-group-btn">
              <span class="btn btn-default"><i class="glyphicon glyphicon-transfer"></i>
                Paste
                <input style="opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%" type="button">
              </span>
            </span>
            -->
          
            <span class="input-group-btn">
              <span class="btn btn-default" ng-hide="scanning_qr_video"><i class="glyphicon glyphicon-qrcode"></i>
                Leer QR
                <input style="opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%" type="file" id="qrcodeinput_login" accept="image/*" capture="camera" ga-click-no-touch="send_tx.read_qr_code($event)">
              </span>
              <a class="btn btn-default" ng-show="scanning_qr_video" ng-click="send_tx.stop_scanning_qr_code()">Cancelar</a>
            </span>
          </div>
          
          <a class="btn btn-info btn-xs btn-adv-options" ng-hide="send_tx.advanced_options_visible || send_tx.recipient_overridden || send_tx.recipient.type == 'payreq'" ng-click="send_tx.advanced_options_visible=true"><i class="glyphicon glyphicon-wrench"></i> show advanced options</a>
        </div>
      </div>

      <div class="form-group" ng-show="send_tx.advanced_options_visible && send_tx.recipient.type != 'payreq'">
        <div class="col-sm-offset-2 col-sm-10">
           <label>
            <input type="checkbox" ng-model="send_tx.voucher" />
            <span>Create a voucher instead of sending to a recipient</span>
          </label>
        </div>
      </div>

      <div class="form-group" ng-hide="!send_tx.voucher && (send_tx.recipient_is_btcaddr() || wallet.send_unencrypted)">
        <label class="col-sm-2 control-label" for="encpassphrase">Contraseña de encriptación</label>
        <div class="col-sm-10">
          <input class="form-control" id="encpassphrase" ng-model="send_tx.passphrase" class="form-control" type="text" />
          <small ng-show="!send_tx.passphrase" class="label label-warning" style="white-space: normal"><strong>NOTA</strong>: The receiving private key will not be encrypted unless you provide a passphrase. Unencrypted private keys are prone to eavesdropping!</small>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="amount">Monto</label>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-xs-6 col-sm-5 col-md-4">
              <div class="input-group">
                <span class="input-group-addon">((wallet.unit))</span>
                
                    <input ng-disabled="send_tx.recipient.amount" class="form-control" type="number" ng-model="send_tx.amount" placeholder="0.0000" ng-show="cordova_platform=='ios'" />
                    <input ng-disabled="send_tx.recipient.amount" class="form-control" type="tel" ng-model="send_tx.amount" placeholder="0.0000" ng-hide="cordova_platform=='ios'" />
                
              </div>
            </div>
            <div class="col-xs-6 col-sm-5 col-md-4">
              <div class="input-group">
                <span class="input-group-addon">(( wallet.fiat_currency ))</span>
                
                <input ng-disabled="send_tx.recipient.amount" class="form-control" type="number" ng-model="send_tx.amount_fiat" placeholder="0.00" ng-show="cordova_platform=='ios'" />
                <input ng-disabled="send_tx.recipient.amount" class="form-control" type="tel" ng-model="send_tx.amount_fiat" placeholder="0.00" ng-hide="cordova_platform=='ios'" />
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-hide="wallet.send_from || send_tx.recipient.type == 'payreq'">
        <div class="col-sm-offset-2 col-sm-10">
          <label class="text-petty radio-inline" style="padding:0 5px 0 0; display: inline-block;">
            Comisión (<span>((10000|format_btc:wallet.unit))</span> / kB) will be added to the amount
          </label>
        </div>
      </div>
      <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10" ng-hide="send_tx.recipient.type == 'payreq' && !send_tx.instant">
          <label tooltip="Requires recipient to trust GreenAdress instant confirmations">
            <input type="checkbox" ng-model="send_tx.instant" ng-disabled="send_tx.recipient.type == 'payreq'" />
            <span>Instant Confirmation</span>
          </label>
        </div>
      </div>
      <hr class="double">
      <button ng-disabled="send_tx.sending || send_tx.processing_payreq" class="btn btn-primary btn-block-xs pull-right" ng-click="send_tx.send_money()" href=""><i class="glyphicon glyphicon-send"></i>
        <span ng-hide="send_tx.voucher || (send_tx.sending && send_tx.signing)">Enviar Dinero</span>
        <span ng-show="!send_tx.voucher && send_tx.sending && send_tx.signing">
          <span ng-show="send_tx.verifying">Verifying ((send_tx.verifying_percentage))% /</span>
          Signing ((send_tx.signing_percentage))%</span>
        <span ng-show="send_tx.voucher">Create a Voucher</span>
      </button>
    </form>
  </div>
</div>

<!--
<ul>
  <li>amount: <input type="text" ng-model="send_tx.amount" /></li>

  <li ng-show="!send_tx.encrypted_key">
      <a class="btn btn-xs btn-primary" href="" ng-click="send_tx.send_to_priv()">Send to a new private key</a>
      with passphrase: <input type="text" ng-model="send_tx.passphrase" />
  </li>
  <li ng-show="send_tx.encrypted_key !== undefined">
      Encrypted key: (( send_tx.encrypted_key || "calculando" )) <a href="" ng-click="send_tx.send_to_priv_done()">done</a>
      <div ng-show="send_tx.encrypted_key">
          Send to email: <input type="email" ng-model="send_tx.email" /> <a href="" ng-click="send_tx.send_to_email()" ng-show="!send_tx.sending_email">send</a>
      </div>
  </li>
  <li>to address: <input type="text" ng-model="send_tx.to_addr" /></li>
</ul>
<a class="btn btn-primary" href="" ng-click="send_tx.send()">Send</a>

<a class="btn" ng-click="send_tx.read_qr_code()">Leer QR</a>

-->