<div class="modal-body text-center">
    <p>El código QR para acceder a tu Wallet vía Google Authenticator es: </p>
    <p><qr size="212" text="twofactor_state.google_secret_url"></qr></p>
    <p>También puede copiar el código manualmente:</p>
    <p>(( twofactor_state.google_secret_key ))</p>
</div>
<div class="modal-footer">
  
  <button class="btn btn-info btn-block-xs" ng-click="copy_to_clipboard(twofactor_state.google_secret_key)"><i class="glyphicon glyphicon-transfer"></i>Copy to clipboard</button>
  
  <button type="button" class="btn btn-primary" ng-click="$close()">Cerrar</button>
</div>