<div class="row hidden-xs hidden-sm">
  <div class="col-md-12">
    <div class="header">
      Transacciones<span class="balance pull-right" ng-include="'../'+LANG+'/wallet/partials/wallet_balance.html'"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="sub-header">
      (( wallet.unit ))
      <!-- <span class="header-options">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="">Año</a></li>
          <li><a href="">Mes</a></li>
          <li><a href="">Semana</a></li>
        </ul>
      </span> -->
    </div>
    <div id="btc_graph" class="graph"></div>
  </div>
  <!-- <div class="col-md-6">
    <div class="sub-header">
      EUR
      <span class="header-options">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="">Año</a></li>
          <li><a href="">Mes</a></li>
          <li><a href="">Semana</a></li>
        </ul>
      </span>
    </div>
    <div class="graph"><img class="img-responsive" src="/static/img/pages/index/preview.png"></div>
  </div> -->
</div>
<div ng-controller="TransactionsController">
  <div class="row">
    <div class="col-md-12">
      <div class="sub-header">Tus últimas transacciones</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="search.date_start" placeholder="From date" is-open="search.is_open_from" max-date="search.today" close-text="Cerrar" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="search.open_picker($event, 'from')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="search.date_end" placeholder="To date" is-open="search.is_open_to" max-date="search.today" close-text="Cerrar" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="search.open_picker($event, 'to')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </form>
    </div>
    <div class="col-md-4">
      <form><input class="form-control" placeholder="Search" ng-model="search.query" type="text" /></form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ng-include="'../'+LANG+'/wallet/partials/wallet_transactions_table.html'"></div>
    </div>
  </div>
</div>