<div class="modal-body text-center">
	<div ng-show="btchip.already_setup">
    	<p>Su BTChip ya está configurado. Para usarlo con GreenAddress, usted necesita restablecerlo. ¿Quiere restablecer su BTChip? Esto será realizado ingresando un PIN incorrecto 3 veces seguidas.<strong>Usted perderá sus claves actualmente almacenadas en el dispositivo.</strong></p>
    	<button ng-hide="btchip.resetting" type="button" class="btn btn-danger" ng-click="btchip.reset()">Reiniciar mi BTChip</button>
    	<button ng-show="btchip.resetting" type="button" disabled="disabled" class="btn btn-danger" ng-click="btchip.reset()">Restableciendo...
    	<span ng-show="btchip.replug_required">Por favor desconecte y conecte su dispositivo nuevamente (<span>(( btchip.resets_remaining )) PINs incorrectos restantes</span>)</span></button>
    </div>
	<div ng-show="!btchip.already_setup && !btchip.gait_setup">
    	<p>BTChip vacío detectado con éxito. Cliquee el botón abajo para almacenar su semilla en éste.</p>
    	<button type="button" class="btn btn-success" ng-click="btchip.store()" ng-hide="btchip.storing">Guardar en BTChip</button>
        <span class="btn btn-success disabled" ng-show="btchip.storing">
           	Generando las claves de tu Wallet, por favor espere ... (( btchip.seed_progress ))%
        </span>
    </div>
	<div ng-show="btchip.gait_setup">
    	<p>¡Configuración de BTChip exitosa!</p>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="$dismiss()">Cerrar</button>
</div>