<div>

    <div class="modal-body">
    	<p class="text-center">No hay servidores Electrum accesibles. Son usados para verificar que nuestros servidores no intenten engañar a su cliente a gastar el monto de dinero incorrecto.</p>
        <p class="text-center">¿Quiere continuar enviando la transacción sin la verificación de la red Electrum?</p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
            <button class="btn btn-primary" ng-click="$close()">Continuar</button>
        </div>
    </div>

</div>