<div submittable>

    <div class="modal-body">
        <p class="text-center">Пожалуйста, укажите пароль, полученный от отправителя.</p>
        <hr>
        <form ng-submit="redeem_modal.redeem()" name="form" class="form-horizontal">
            <div class="form-group" ng-class="{'has-error': redeem_modal.error}">
                <label for="passwordId" class="col-sm-5 control-label">Введите пароль</label>
                <div class="col-sm-4">
                    <input clickfix class="form-control" focus-on="redeemPasswordModal" type="password"
                           ng-model="redeem_modal.password" id="passwordId"
                           ng-disabled="redeem_modal.decrypting" />
                    <input type="submit" class="hide" submitter ng-disabled="redeem_modal.decrypting" />
                    <div class="help-block" ng-show="redeem_modal.error"><i class="glyphicon glyphicon-info-sign"></i> (( redeem_modal.error ))</div>
                    <div class="help-block" ng-show="redeem_modal.decrypting"><i class="glyphicon glyphicon-info-sign"></i> Пожалуйста, подождите, дешифрирование...</div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()" ng-disabled="redeem_modal.decrypting">Отменить</button>
            <button class="btn btn-primary" ng-click="submit_me()" ng-disabled="redeem_modal.decrypting">Получить платеж</button>
        </div>
    </div>

</div>