<div class="title">
  Vous avez reçu ((wallet.redeem_amount|format_btc:'mBTC'))!
  <p>(( wallet.redeem_message ))</p>
  <hr class="double">
  <small style="font-size:50%;">
  	<p ng-show="wallet.redeem_is_bip38">You can redeem it using any BIP38-compatible wallet using the password given to you by the sender and the following key:  (( wallet.redeem_key )).</p>
  	<p ng-hide="wallet.redeem_is_bip38">You can redeem it using any WIF-compatible wallet using the following key:  (( wallet.redeem_key )).</p>
    <p>If you do not have a GreenAddress wallet, you can create one to reedem the payment <a class="btn btn-warning" href="/wallet/#/create/">Créez un porte-monnaie</a></p>
    <p>Sinon, connectez-vous en utilisant le formulaire ci-dessous.</p>
  </small>
</div>