<div submittable>

    <div class="modal-body">
        <p class="text-center">Please provide a password to decrypt your mnemonic</p>
        <hr>
        <form ng-submit="decrypt_password_modal.decrypt()" name="form" class="form-horizontal">
            <div class="form-group" ng-class="{'has-error': decrypt_password_modal.error}">
                <label for="passwordId" class="col-sm-5 control-label">Mot de passe</label>
                <div class="col-sm-4">
                    <input clickfix class="form-control" focus-on="decryptPasswordModal" type="password"
                           ng-model="decrypt_password_modal.password" id="passwordId"
                           ng-disabled="decrypt_password_modal.decrypting" />
                    <input type="submit" class="hide" submitter ng-disabled="decrypt_password_modal.decrypting" />
                    <div class="help-block" ng-show="decrypt_password_modal.error"><i class="glyphicon glyphicon-info-sign"></i> (( decrypt_password_modal.error ))</div>
                    <div class="help-block" ng-show="decrypt_password_modal.decrypting"><i class="glyphicon glyphicon-info-sign"></i> Déchiffrage en cours...</div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()" ng-disabled="decrypt_password_modal.decrypting">Annuler</button>
            <button class="btn btn-primary" ng-click="submit_me()" ng-disabled="decrypt_password_modal.decrypting">Decrypt</button>
        </div>
    </div>

</div>