<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="it.greenaddress.cordova" version="0.0.0">
    <name>GAIT</name>
    <description>Cordova GAIT Plugin</description>
    <keywords>cordova,gait</keywords>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <preference name="AndroidLaunchMode" value="singleTop" />
            <feature name="PINInput">
                <param name="android-package" value="it.greenaddress.cordova.PINInput"/>
            </feature>
            <feature name="BIP39">
                <param name="android-package" value="it.greenaddress.cordova.BIP39"/>
            </feature>
            <feature name="BIP38">
                <param name="android-package" value="it.greenaddress.cordova.BIP38"/>
            </feature>
            <feature name="BTChip">
                <param name="android-package" value="it.greenaddress.cordova.BTChip"/>
            </feature>
            <feature name="org.apache.cordova.facebook.Connect">
                <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
            </feature>
        </config-file>

        <framework src="facebook-android-sdk-3.7/facebook" custom="true" />

        <!-- sources -->
        <source-file src="BIP38.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="BIP39.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="BTChip.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="GreenAddressIt.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="PINInput.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="PINInputActivity.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="SettingsActivity.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="WalletBalanceWidgetProvider.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="WalletClient.java" target-dir="src/it/greenaddress/cordova" />
        <source-file src="device_filter.xml" target-dir="res/xml" />
        <source-file src="wallet_balance_widget.xml" target-dir="res/xml" />
        <source-file src="widget_preferences.xml" target-dir="res/xml" />

        <!-- layout -->
        <source-file src="wallet_balance_widget_content.xml" target-dir="res/layout" />

        <!-- drawables -->
        <source-file src="appwidget_button_center.xml" target-dir="res/drawable" />
        <source-file src="appwidget_button_left.xml" target-dir="res/drawable" />
        <source-file src="appwidget_button_right.xml" target-dir="res/drawable" />
        <source-file src="appwidget_dark_bg_clickable.xml" target-dir="res/drawable" />
        <source-file src="drawable/hdpi/ic_action_camera.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/ic_action_receive.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/ic_action_send.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/xhdpi/ic_action_camera.png" target-dir="res/drawable-xhdpi" />
        <source-file src="drawable/xhdpi/ic_action_receive.png" target-dir="res/drawable-xhdpi" />
        <source-file src="drawable/xhdpi/ic_action_send.png" target-dir="res/drawable-xhdpi" />
        <source-file src="drawable/xhdpi/widget_preview.png" target-dir="res/drawable-xhdpi" />
        <source-file src="drawable/hdpi/appwidget_dark_bg.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_dark_bg_focused.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_dark_bg_pressed.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_divider.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_focused_c.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_focused_l.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_focused_r.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_pressed_c.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_pressed_l.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="drawable/hdpi/appwidget_inner_pressed_r.9.png" target-dir="res/drawable-hdpi" />

        <!-- libs -->
        <source-file src="libs/autobahn-android-0.5.2-SNAPSHOT.jar" target-dir="libs" />
        <source-file src="libs/bcprov-jdk15on-150.jar" target-dir="libs" />
        <source-file src="libs/jackson-core-asl-1.8.6.jar" target-dir="libs" />
        <source-file src="libs/jackson-datatype-json-org-1.8.0.jar" target-dir="libs" />
        <source-file src="libs/jackson-mapper-asl-1.8.6.jar" target-dir="libs" />
        <source-file src="libs/jwamp-core-0.0.1-SNAPSHOT.jar" target-dir="libs" />
        <source-file src="libs/jwamp-jee6-jetty-0.0.1-SNAPSHOT.jar" target-dir="libs" />
        <source-file src="libs/log4j-1.2.17.jar" target-dir="libs" />
        <source-file src="libs/slf4j-api-1.6.5.jar" target-dir="libs" />
        <source-file src="libs/slf4j-log4j12-1.6.6.jar" target-dir="libs" />
        <source-file src="libs/armeabi/libscrypt.so" target-dir="libs/armeabi" />
        <source-file src="libs/mips/libscrypt.so" target-dir="libs/mips" />
        <source-file src="libs/x86/libscrypt.so" target-dir="libs/x86" />
        <source-file src="build-extras.gradle" target-dir="." />

        <!-- dependencies -->
        <source-file src="deps/com/bitsofproof/supernode/api/Address.java" target-dir="src/com/bitsofproof/supernode/api" />
        <source-file src="deps/com/bitsofproof/supernode/api/Network.java" target-dir="src/com/bitsofproof/supernode/api" />
        <source-file src="deps/com/bitsofproof/supernode/common/ByteUtils.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/ECKeyPair.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/ECPublicKey.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/Hash.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/Key.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/ScriptFormat.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/common/ValidationException.java" target-dir="src/com/bitsofproof/supernode/common" />
        <source-file src="deps/com/bitsofproof/supernode/wallet/KeyFormatter.java" target-dir="src/com/bitsofproof/supernode/wallet" />
        <source-file src="deps/com/btchip/BitcoinTransaction.java" target-dir="src/com/btchip" />
        <source-file src="deps/com/btchip/BTChipConstants.java" target-dir="src/com/btchip" />
        <source-file src="deps/com/btchip/BTChipDongle.java" target-dir="src/com/btchip" />
        <source-file src="deps/com/btchip/BTChipException.java" target-dir="src/com/btchip" />
        <source-file src="deps/com/btchip/comm/android/BTChipTransportAndroid.java" target-dir="src/com/btchip/comm/android" />
        <source-file src="deps/com/btchip/comm/android/BTChipTransportAndroidHID.java" target-dir="src/com/btchip/comm/android" />
        <source-file src="deps/com/btchip/comm/android/BTChipTransportAndroidWinUSB.java" target-dir="src/com/btchip/comm/android" />
        <source-file src="deps/com/btchip/comm/BTChipTransport.java" target-dir="src/com/btchip/comm" />
        <source-file src="deps/com/btchip/comm/LedgerHelper.java" target-dir="src/com/btchip/comm" />
        <source-file src="deps/com/btchip/utils/BIP32Utils.java" target-dir="src/com/btchip/utils" />
        <source-file src="deps/com/btchip/utils/BufferUtils.java" target-dir="src/com/btchip/utils" />
        <source-file src="deps/com/btchip/utils/CoinFormatUtils.java" target-dir="src/com/btchip/utils" />
        <source-file src="deps/com/btchip/utils/Dump.java" target-dir="src/com/btchip/utils" />
        <source-file src="deps/com/btchip/utils/VarintUtils.java" target-dir="src/com/btchip/utils" />
        <source-file src="deps/com/lambdaworks/codec/Base64.java" target-dir="src/com/lambdaworks/codec" />
        <source-file src="deps/com/lambdaworks/crypto/PBKDF.java" target-dir="src/com/lambdaworks/crypto" />
        <source-file src="deps/com/lambdaworks/crypto/SCrypt.java" target-dir="src/com/lambdaworks/crypto" />
        <source-file src="deps/com/lambdaworks/crypto/SCryptUtil.java" target-dir="src/com/lambdaworks/crypto" />
        <source-file src="deps/com/lambdaworks/jni/JarLibraryLoader.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/LibraryLoader.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/LibraryLoaders.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/NilLibraryLoader.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/Platform.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/SysLibraryLoader.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/com/lambdaworks/jni/UnsupportedPlatformException.java" target-dir="src/com/lambdaworks/jni" />
        <source-file src="deps/org/apache/cordova/facebook/ConnectPlugin.java" target-dir="src/org/apache/cordova/facebook" />

        <hook type="after_plugin_install" src="scripts/removeMainActivity.js" />
        <hook type="after_prepare" src="scripts/removeMainActivity.js" />
    </platform>
    <platform name="ios">
        <framework src="Security.framework" />
        <framework src="CoreBitcoin.framework" custom="true" />
        <source-file src="bip38/bip38.h" target-dir="bip38" />
        <source-file src="bip38/bip38.m" target-dir="bip38" />
        <source-file src="bip38/c/crypto_scrypt-neon.c" target-dir="bip38/c" />
        <source-file src="bip38/c/crypto_scrypt-sse.c" target-dir="bip38/c" />
        <source-file src="bip38/c/sha256.c" target-dir="bip38/c" />
        <source-file src="bip38/include/config.h" target-dir="bip38/include" />
        <source-file src="bip38/include/crypto_scrypt-neon-salsa208.h" target-dir="bip38/include" />
        <source-file src="bip38/include/crypto_scrypt.h" target-dir="bip38/include" />
        <source-file src="bip38/include/scrypt_platform.h" target-dir="bip38/include" />
        <source-file src="bip38/include/sha256.h" target-dir="bip38/include" />
        <source-file src="bip38/include/sysendian.h" target-dir="bip38/include" />
        <source-file src="CDVAES.m" />
        <source-file src="CDVAES.h" />
        <source-file src="CDVBIP32.m" />
        <source-file src="CDVBIP32.h" />
        <source-file src="CDVBIP38.m" />
        <source-file src="CDVBIP38.h" />
        <source-file src="CDVBIP39.m" />
        <source-file src="CDVBIP39.h" />
        <source-file src="CDVECDSA.m" />
        <source-file src="CDVECDSA.h" />
        <config-file target="config.xml" parent="/*">
            <feature name="AES">
                <param name="ios-package" value="CDVAES"/>
            </feature>
            <feature name="ECDSA">
                <param name="ios-package" value="CDVECDSA"/>
            </feature>
            <feature name="BIP32">
                <param name="ios-package" value="CDVBIP32"/>
            </feature>
            <feature name="BIP38">
                <param name="ios-package" value="CDVBIP38"/>
            </feature>
            <feature name="BIP39">
                <param name="ios-package" value="CDVBIP39"/>
            </feature>
        </config-file>
    </platform>
</plugin>
