<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            <div class="create-modal-header">
                <span class="pull-left">มีบัญชีแล้วหรือไม่
                    
                    <a href="" ng-click="logout()">เข้าสู่กระเป๋าของคุณ</a></span>
                    
                ขั้นตอน 1 ของ 3
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%"></div>
                </div>
            </div>

            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">Connect Hardware Wallet to create a GreenAddress wallet<br>
                    <small>ตั้งค่าบัญชีด้วย 3 ขั้นตอนนี้ทำให้ปลอดภัยจากการบุกรุก</small>
                </div>
                <hr>
                <div class="subtitle" ng-hide="trezor_dev">Please connect your Hardware Wallet device</div>
                <div class="subtitle" ng-show="trezor_dev">Hardware Wallet detected.</div>
                <div class="subtitle" ng-show="trezor_dev.signing"><strong>Please confirm the signature on your Hardware Wallet device.</strong></div>
            </div>

            <div class="create-modal-footer" ng-hide="signup.unexpected_error">
                <label for="checkbox-confirmation">
                    <input type="checkbox" ng-model="signup.secured_confirmed" id="checkbox-confirmation"> ฉันยอมรับ <a href="/tos" target="_blank">เงื่อนไขการใช้บริการ</a>
                </label>
                <br>
                <a class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.logged_in||!signup.secured_confirmed}" href="#/signup_2factor#content_container">ดำเนินการต่อ!</a>
            </div>

            <div class="create-modal-footer" ng-show="signup.unexpected_error">
                <a class="btn btn-danger login-submit" href="" ng-click="signup.try_again()">
                    ข้อผิดพลาด:  (( signup.unexpected_error )).  คลิกที่นี่เพื่อลองอีกครั้ง
                </a>
            </button>
            </div>

        </div>
    </div>
</div>


<div class="printable">
    <h1><img src="/static/img/logos/logo-greenaddress.png" alt="GreenAddress"> GreenAddress<br><small>https://greenaddress.it</small></h1>
    <p>รหัสผ่านถึงกระเป๋าสตางค์ของคุณคือ:</p>
    <div class="mnemonic noanimate">(( signup.mnemonic ))</div>
    <qr ng-if="signup.mnemonic" class="qrcode" text="(( signup.mnemonic ))" size="212"></qr>
    <p><i class="glyphicon glyphicon-exclamation-sign"></i> <i>เก็บหน้านี้ไว้ในสถานที่ปลอดภัย</i></p>
</div>