<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            
            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">สำหรับปรับปรุงความปลอดภัยต่อการลงทะเบียนผ่านปพลิเคชันเดสก์ท็อป หรือโทรศัพท์มือถือของเรา<br>
                    <small>แอพพลิเคชั่นที่ติดตั้งในเครื่องมีความปลอดภัยกว่าการใช้งานเว็บ</small>
                </div>
                <hr>
                <p>แอพเหล่านี้ออกแบบมาเพื่อปกป้องคุณและคอยน์ของคุณแม้ในกรณีที่มีการละเมิดบริการ และแนะนำให้ใช้มากกว่าการใช้ผ่านเว็บไซด์<br/><br/>
                Web access is intended to be used for watch only mode or if you have no alternative, like on the Windows Mobile platform. 
                <br/>
                <br/>
                Please see the link to Google Play store, Chrome Web Store or AppStore below
                </p>
            </div>

            <div class="create-modal-footer">
                <a target="_blank" class="supported-browsers" href="https://play.google.com/store/apps/details?id=com.greenaddress.greenbits_android_wallet"><img src="/static/img/logos/logo-google-play.png" class="android-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://chrome.google.com/webstore/detail/greenaddressit/dgbimgjoijjemhdamicmljbncacfndmp" ><img src="/static/img/logos/logo-chrome-web-store.png" class="chrome-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://itunes.apple.com/us/app/greenaddress/id889740745?mt=8#"><img src="/static/img/logos/logo-appstore-th.svg" class="ios-app" /></a>
                <a target="_blank" class="supported-browsers" href="https://f-droid.org/repository/browse/?fdid=com.greenaddress.greenbits_android_wallet"><img src="../static/img/logos/logo-fdroid.svg" class="fdroid-app" /></a>
                <hr>
                <a class="btn btn-primary btn-block-xs" href="#/create">ใช้เว็บเพจต่อไป</a>
            </div>

        </div>
    </div>
</div>