<div class="modal-body text-center">
    <div ng-show="trezor.already_setup && trezor.use_gait_mnemonic">
        <p>Your Hardware Wallet is already set up. You must wipe it to write GreenAddress mnemonic to it. Do you want to wipe?</p>
        <button type="button" class="btn btn-default" ng-click="$dismiss()" ng-disabled="trezor.setting_up">No</button>
        <button type="button" class="btn btn-danger" ng-click="trezor.store()"ng-disabled="trezor.setting_up">Yes</button>
    </div>
	<div ng-show="trezor.already_setup && !trezor.use_gait_mnemonic">
    	<p>Your Hardware Wallet is already set up. To use it with GreenAddress, you can either reset it, or use the existing wallet seed. To reset it, please go to myTREZOR or equivalent and use the 'Wipe device' feature from advanced details. Do you want to use the existing seed? <strong>NOTE: if you use it, you won't be able to se myTREZOR transactions in GreenAddress, because we don't support non-multisig transactions.</strong> Do you want to reuse existing seed?</p>
    	<button type="button" class="btn btn-default" ng-click="$dismiss()">No</button>
        <button type="button" class="btn btn-success" ng-click="trezor.reuse()">Yes</button>
    </div>
	<div ng-show="!trezor.already_setup && !trezor.gait_setup">
    	<p ng-show="trezor.use_gait_mnemonic">Empty Hardware Wallet detected successfully. Click the button below to store your seed on it.</p>
        <p ng-hide="trezor.use_gait_mnemonic">Empty Hardware Wallet detected successfully. Click the button below to set it up.</p>
    	<button type="button" class="btn btn-success" ng-click="trezor.store()" ng-hide="trezor.storing || !trezor.use_gait_mnemonic">Save to Hardware Wallet</button>
        <button type="button" class="btn btn-success" ng-click="trezor.store()" ng-hide="trezor.use_gait_mnemonic" ng-disabled="trezor.setting_up">Set up Hardware Wallet</button>
        <span class="btn btn-success disabled" ng-show="trezor.storing">
           	กรุณารอสักครู่ สร้างคีย์ wallet ของคุณ  ... (( trezor.seed_progress ))%
        </span>
    </div>
	<div ng-show="trezor.gait_setup">
        <p>Hardware Wallet setup successful!</p>
    </div>
</div>
<div class="modal-footer" ng-hide="trezor.already_setup">
  <button type="button" class="btn" ng-click="$dismiss()">ปิด</button>
</div>