<div class="modal-header">
    นำเงินกลับ
</div>

<div class="modal-body">
    <p>คุณต้องการใช้เงินจากธุรกรรมต่อไปนี้หรือไม่?</p>
    <dl>
        <dt>ระบุเวลา</dt>
        <dd>(( redeem_transaction.ts ))</dd>

        <dt>แฮช</dt>
        <dd>(( redeem_transaction.txhash ))</dd>
        
        <dt>คำอธิบาย</dt>
        <dd>(( redeem_transaction.description ))</dd>

        <dt>จำนวน</dt>
        <dd>(( redeem_transaction.value|format_btc:wallet.unit )) </dd>
    </dl>
</div>

<div class="modal-footer">
    <div class="">
        <button class="btn btn-secondary" ng-class="{disabled: redeeming}" ng-click="$dismiss()">ยกเลิก</button>
        <button class="btn btn-primary" ng-class="{disabled: redeeming}" ng-click="_redeem()">ตกลง</button>
    </div>
</div>