<ul class="nav nav-tabs">
  <li ng-class="{active: twofactor_state.twofactor_type == 'email'}">
      <a href="" ng-click="show_email_auth()">Email</a>
  </li>
  <li ng-class="{active: twofactor_state.twofactor_type == 'gauth'}">
      <a href="" class="hidden-xs" ng-click="show_gauth()">Google Authenticator</a>
      <a href="" class="visible-xs" ng-click="show_gauth()">GA</a>
  </li>
  <li ng-class="{active: twofactor_state.twofactor_type == 'sms'}">
      <a href="" ng-click="show_sms_auth()">SMS</a>
  </li>
  <li ng-class="{active: twofactor_state.twofactor_type == 'phone'}">
      <a href="" ng-click="show_phone_auth()">โทรศัพท์</a>
  </li>
</ul>

<div ng-show="twofactor_state.twofactor_type == 'gauth'">
    <p class="well" ng-show="twofactor_state.twofac_gauth_switch">
        เปิดใช้ Google Authenticator
    </p>
    <div ng-show="!twofactor_state.twofac_gauth_switch" ng-if="twofactor_state.google_secret_url">
        <div class="row">
            <div class="col-sm-4">
                <dt>1) ติดตั้ง แอพ</dt>
                <dd>
                    ติดตั้งบนอุปกรณ์คุณ สำหรับแอนดรอยด์ที่ <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google play</a> ขณะที่ iOS ไปที่ <a href="https://itunes.apple.com/en/app/google-authenticator/id388497605?mt=8" target="_blank">Apple Store.</a>
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>2) เพิ่มบัญชี</dt>
                <dd>
                    เพิ่มบัญชีไปยัง Google Authenticator และสแกน QR code หรือใส่รหัสที่ถูกต้องด้วยตนเอง
                    <div class="text-center"><button class="btn btn-default btn-sm" style="margin:15px 0 0;" ng-click="gauth_qr_modal()"><i class="glyphicon glyphicon-qrcode"></i> แสดง QR code</button></div>
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>3) ยืนยันรหัสผ่าน</dt>
                <dd>
                    Google Authenticator จะแสดงรหัส กรุณากรอกรหัสเพื่อให้รหัสผ่านสองขั้นทำงานได้สมบูรณ์
                </dd>
            </div>
        </div>
        <hr class="hidden-xs">
        <div class="row">
            <div class="col-sm-12">
                <form role="form" class="form-horizontal" ng-submit="enable_twofac_gauth()">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="wallet-google-conf-code">โค้ด Authenticator</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input ng-model="twofactor_state.twofac_gauth_code" class="form-control pin" type="tel" mask-input
                                    required="required" maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/"
                                    id="wallet-google-conf-code" placeholder="ใส่รหัสที่ได้รับ"  />
                                <span class="input-group-btn">
                                    <input ng-disabled="!twofactor_state.twofac_gauth_code" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="เปิดใช้งาน"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div ng-show="twofactor_state.twofactor_type == 'email'">
    <p class="well" ng-show="twofactor_state.twofac_email_switch">
        การใช้งานรหัสผ่านสองขั้นโดยอีเมล์เปิดใช้งาน
    </p>
    <div ng-show="!twofactor_state.twofac_email_switch">
        <div ng-show="!twofactor_state.email_set">
            <form role="form" class="form-horizontal" ng-submit="start_enabling_email()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-twofac-email">อีเมล์แอดเดรสของคุณ</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input class="form-control" ng-model="twofactor_state.new_twofac_email"
                                id="wallet-twofac-email" type="email" name="email" required="required"
                                ng-disabled="twofactor_state.enabling_email"
                                placeholder="กรุณาใส่อีเมล์ของคุณ" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.new_twofac_email || twofactor_state.enabling_email" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="เปิดใช้งาน"/>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="twofactor_state.email_set">
            <p>
                คุณต้องใช้รหัสที่ได้ทางอีเมล์เพื่อตั้งรหัสผ่านสองขั้น.<br>                กรุณาเปิดอีเมล์และใส่รหัสที่ได้
            </p>
            <form role="form" class="form-horizontal" ng-submit="enable_twofac_email()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-email-conf-code">รหัสจากอีเมล์</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input ng-model="twofactor_state.twofac_email_code" class="form-control pin" type="tel" mask-input required="required"
                                maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-email-conf-code"
                                placeholder="ใส่รหัสที่ได้รับ" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.twofac_email_code" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="เปิดใช้งาน"/><a href="" class="btn btn-warning" ng-click="cancel_twofac_email()">ยกเลิก</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-show="twofactor_state.twofactor_type == 'sms'">
    <p class="well" ng-show="twofactor_state.twofac_sms_switch">รหัสผ่านสองขั้นโดยข้อความเปิดใช้งาน</p>
    <div ng-show="!twofactor_state.twofac_sms_switch">
        <div ng-show="!twofactor_state.sms_set">
            <form role="form" class="form-horizontal" ng-submit="start_enabling_sms()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-twofac-sms">หมายเลขโทรศัพท์ของคุณ</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input class="form-control" ng-model="twofactor_state.new_twofac_sms" id="wallet-twofac-sms"
                                type="tel" name="phone" required="required" placeholder="+NN... กรุณาป้อนหมายเลขโทรศัพท์" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.new_twofac_sms || twofactor_state.enabling_sms" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="เปิดใช้งาน"/>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="twofactor_state.sms_set">
            <p>คุณต้องป้อนรหัสจากข้อความเพื่อตั้งค่ารหัสผ่านสองขั้น.<br>                กรุณาตรวจสอบโทรศัพท์และป้อนรหัส
            </p>
            <form role="form" class="form-horizontal" ng-submit="enable_twofac_sms()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-sms-conf-code">รหัสจากข้อความ</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input ng-model="twofactor_state.twofac_sms_code" class="form-control pin" type="tel" mask-input required="required"
                                maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-sms-conf-code"
                                placeholder="ใส่รหัสที่ได้รับ" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.twofac_sms_code" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="เปิดใช้งาน"/><a href="" class="btn btn-warning" ng-click="cancel_twofac_sms()">ยกเลิก</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-show="twofactor_state.twofactor_type == 'phone'">
    <p class="well" ng-show="twofactor_state.twofac_phone_switch">การใช้งานรหัสผ่านสองขั้นผ่านโทรศัพท์เปิดใช้งาน</p>
    <div ng-show="!twofactor_state.twofac_phone_switch">
        <div ng-show="!twofactor_state.phone_set">
            <form role="form" class="form-horizontal" ng-submit="start_enabling_phone()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-twofac-phone">หมายเลขโทรศัพท์ของคุณ</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input class="form-control" ng-model="twofactor_state.new_twofac_phone" name="phone" id="wallet-twofac-phone"
                                type="tel" required="required" placeholder="+NN... กรุณาป้อนหมายเลขโทรศัพท์" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.new_twofac_phone || twofactor_state.enabling_phone" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="เปิดใช้งาน"/>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="twofactor_state.phone_set">
            <p>กรุณาใส่รหัสผ่านเพื่อตั้งค่ารหัสผ่านสองขั้น<br>                กรุณาตรวจสอบโทรศัพท์และใส่รหัส
            </p>
            <form role="form" class="form-horizontal" ng-submit="enable_twofac_phone()" style="margin:25px 0;">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="wallet-phone-conf-code">รหัสโทรศัพท์</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input ng-model="twofactor_state.twofac_phone_code" class="form-control pin" type="tel" mask-input required="required"
                                maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-phone-conf-code"
                                placeholder="ใส่รหัสที่ได้รับ" />
                            <span class="input-group-btn">
                                <input ng-disabled="!twofactor_state.twofac_phone_code" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="เปิดใช้งาน"/><a href="" class="btn btn-warning" ng-click="cancel_twofac_phone()">ยกเลิก</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>