<div>

    <div class="modal-body">
    	<p class="text-center">ไม่สามารถเข้าถึงเซอร์เวอร์ Electrum ใช้เพื่อตรวจสอบว่าเซอร์เวอร์เราไม่พยายามนำลูกค้าไปยังการใช้เงินที่ผิดพลาด</p>
        <p class="text-center">คุณต้องการส่งธุรกรรมต่อไปโดยไม่ผ่านการยืนยันของเครือข่าย Electrum</p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">ยกเลิก</button>
            <button class="btn btn-primary" ng-click="$close()">ดำเนินการต่อ</button>
        </div>
    </div>

</div>