
<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3>Please re-deposit your funds</h3>
</div>
<div class="modal-body text-center">
    <p class="alert alert-warning">You have some expired deposits. Unless you re-deposit or redeem them, Instant Confirmation transactions will not be allowed</p>

    <div ng-hide="wallet.expired_deposits.length == 1" class="tooltip-warning">
    	<p><a class="btn btn-block-xs btn-default" ng-class="{disabled: redepositing}" href="" ng-click="redeposit_single_tx()" tooltip="Warning: single transactions can be used to correlate funds with your identity, including funds between different accounts." >
    		ฝากใหม่อีกครั้งเป็นรายการเดียว (ถูกกว่า)</a><br />
    		ประเมินค่าธรรมเนียม: (( redeposit_estimated_fees.single_tx|format_btc:wallet.unit ))</p>
    	<p><a class="btn btn-block-xs btn-success" ng-class="{disabled: redepositing}" href="" ng-click="redeposit_multiple_tx()">
    		ฝากอีกครั้งเป็นหนึ่งธุรกรรมต่อผลลัพธ์ (ส่วนตัวกว่า)</a><br />
    		ประเมินค่าธรรมเนียม: (( redeposit_estimated_fees.multiple_tx|format_btc:wallet.unit ))
    		(<span>(( wallet.expired_deposits.length ))</span> ธุรกรรม)</p>
    </div>
    <div ng-show="wallet.expired_deposits.length == 1">
        <p><a class="btn btn-block-xs btn-success" ng-class="{disabled: redepositing}" href="" ng-click="redeposit_multiple_tx()">
            Redeposit</a><br />
            ประเมินค่าธรรมเนียม: (( redeposit_estimated_fees.single_tx|format_btc:wallet.unit ))
            (1 transaction)</p>
    </div>
</div>