<div class="modal-body text-center">
    <p>QR code ที่มีรหัสช่วยจำในการเข้า wallet ของคุณคือ:</p>
    <p><qr text="(( mnemonic_encrypted || wallet.mnemonic ))" size="212"></qr></p>
    <p ng-show="mnemonic_encrypted">รหัสผ่านมีการเข้ารหัส ดังนั้นต้องใช้รหัสผ่านเข้ารหัสเพื่อใช้งาน</p>
    <p><b><i class="glyphicon glyphicon-exclamation-sign"></i> อย่าลืมเก็บไว้ในที่ปลอดภัย</b></p>

    <div class="mnemonic-label">รหัสผ่านช่วยจำของคุณ</div>
    <div class="mnemonic info" ng-bind="mnemonic_encrypted || wallet.mnemonic"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">ปิด</button>
</div>