<div submittable>

    <div class="modal-body">
    	<p class="text-center">คูปองสร้างได้เรียบร้อย</p>
        <p>It is available at <a ng-href="((voucher.url))">((voucher.url))</a></p>
        
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">ปิด</button>
        </div>
    </div>

</div>

<div class="printable">
    <h1><img src="/static/img/logos/logo-greenaddress.png" alt="GreenAddress"> GreenAddress<br><small>https://greenaddress.it</small></h1>
    <p class="small">นี่คือคูปอง GreenAddress สำหรับ  (( voucher.satoshis|format_btc:wallet.unit ))</p>
    <p ng-show="voucher.text">(( voucher.text ))</p>
    <p class="small">QR Code ด้านล่างมี url สำหรับการขอแลกกองทุน</p>
    <qr class="qrcode" text="(( voucher.url ))" size="212"></qr>
    <p class="small" ng-hide="voucher.encrypted">อีกทางเลือกหนึ่ง คุณสามารถย้ายกองทุนไปยัง wallet ที่รองรับฟังก์ชั่นการนำเข้าผ่าน QR Code ต่อไปนี้ :</p>
    <p class="small" ng-show="voucher.encrypted">อีกทางเลือกหนึ่ง คุณสามารถย้ายกองทุนไปยัง wallet ได้ด้วยการรองรับ BIP38 โดยการใช้ QR Code ต่อไปนี้:</p>
    <qr class="qrcode" text="(( voucher.enckey ))" size="212"></qr>
</div>